//== Grid system
//
//## Define your custom responsive grid.
//** Number of columns in the grid.
$grid-columns:              12;

$enable-flex: true;

// Farben CI Uni
// Anthrazit: RGB 45/55/60
$uni-anthracite: rgba(45,55,60,1);
// Mint: RGB 165/215/210
$uni-mint: rgba(165,215,210,1);
// Rot: RGB 210/5/55
$uni-red: rgba(210,5,55,1);

// Other colors for Opos
// Grau RGB 149/152/154
$grey: rgba(213,213,213,1);
// Rot Schrift
$opos-font-red: rgba(210,5,55,1);
// Hellgrau RGB 245/245/239
$light-grey: rgba(245,245,239,1);
// Rot Opacity 0.75
$uni-red-course-home-header: rgba(210,5,55,0.75);
// Weiss Opacity 0.9
$white-course-home-content: rgba(255,255,255,0.9);
// Weiss Opacity 0.6
$white-pn-link: rgba(255,255,255,0.6);

//font-families
//-------------
$font-family-univers-sans-serif-bold: "Univers LT W01 65 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-univers-sans-serif-roman:  "Univers LT W01 55 Roman", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-univers-sans-serif-light:  "Univers LT W01 45 Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-univer-sans-serif-light-oblique: "UniversLTW01-45LightObl", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-swift-serif: "Swift Neue LT W01", Georgia, "Times New Roman", Times, serif !default;
$font-family-swift-serif-bold: "Swift Neue LT W01 Bold", Georgia, "Times New Roman", Times, serif !default;
$font-family-swift-serif-light: "Swift Neue LT W01 Light", Georgia, "Times New Roman", Times, serif !default;

//font sizes
//----------
$font-size-title-startpage:  5rem; // <h1>
$font-size-bigger:  1.67rem; // <h3>
$font-size-big:  1.22rem; // <h4>
$font-size-normal:  18px; // 1.0rem <p>
$font-size-small:   .84rem;
$font-size-smaller: .80rem;
//font sizes XS
$font-size-title-startpage-xs:  1.78rem; // <h1 class ="title-startpage-xs">
$font-size-subtitle-startpage-xs:  1.39rem; // <h2 class ="subtitle-startpage-xs">
$font-size-bigger-xs:  1.55rem; // <h1 class="step-heading"> also used for subtitles

//header
//----------
$top-header-height: 50px;

//== Spacers
$content-spacer: 19px;

.m-05 {
  margin: (1rem * 0.5) !important;
}

.mt-5 {
  margin-top: (1rem * 5) !important;
}

//==Navbar
$navbar-inverse-toggler-border: transparent;