@charset "UTF-8";


//Alp- und Hirtenhornskala
//------------------------
#imageMap {
	width: 100%;
	position: relative;
}
#imageMap img {
	display: block;
	width: 100%;
}
#imageMap #hotspots {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	/*visibility: hidden;*/
}
#imageMap a {
	display: block;
	position: absolute;
	/*background: #0066ff;*/
	z-index: 100;
	opacity: 0.2; /* CSS3 */
	filter: alpha(opacity=20); /* older browser */
	border: 1px solid #000;
	/*border-radius: 10px;*/
}
#imageMap #alphorn_01 {
	left: 18%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_02 {
	left: 29.5%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_03 {
	left: 34%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_04 {
	left: 38.5%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_05 {
	left: 43%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_06 {
	left: 47.5%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_07 {
	left: 52%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_08 {
	left: 56.5%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_09 {
	left: 61%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_10 {
	left: 65.5%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_11 {
	left: 70%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_12 {
	left: 74.5%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_13 {
	left: 79%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_14 {
	left: 83.5%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_15 {
	left: 88%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}
#imageMap #alphorn_16 {
	left: 92.5%;
	top: 39%;
	width: 4.5%;
	height: 24%;
}

#imageMap #hirtenhorn_01 {
	left: 30%;
	top: 76%;
	width: 4.5%;
	height: 23.5%;
}
#imageMap #hirtenhorn_02 {
	left: 39.5%;
	top: 76%;
	width: 4.5%;
	height: 23.5%;
}
#imageMap #hirtenhorn_03 {
	left: 49.5%;
	top: 76%;
	width: 4.5%;
	height: 23.5%;
}
#imageMap #hirtenhorn_04 {
	left: 59%;
	top: 76%;
	width: 4.5%;
	height: 23.5%;
}
#imageMap #hirtenhorn_05 {
	left: 68.5%;
	top: 76%;
	width: 4.5%;
	height: 23.5%;
}
#imageMap #hirtenhorn_06 {
	left: 78%;
	top: 76%;
	width: 4.5%;
	height: 23.5%;
}
#imageMap #hirtenhorn_07 {
	left: 88%;
	top: 76%;
	width: 4.5%;
	height: 23.5%;
}

#imageMap:hover #hotspots {
	/*visibility: visible;*/
}
#imageMap #hotspots div:hover a {
	background: #0066ff;
	z-index: 100;
	opacity: 0.2;
	filter: alpha(opacity=20);
	border: 1px solid #000;
}


//Temperierte und reine Töne
//--------------------------
#teiltoene_7 {
	.left,
	.middle,
	.right {
		float:left;
		width:33%;
		text-align:center;
		font-size:12px;
		height:100%;
	}
	background-color:#E7E7E7;
	margin-bottom:10px;
	overflow:auto;
	width:100%;
}


#teiltoene_11 {
	.left,
	.middle,
	.right {
		float:left;
		width:33%;
		text-align:center;
		font-size:12px;
		height:100%;
	}
	background-color:#E7E7E7;
	overflow:auto;
	width:100%;
}

//Notation mit falschem Ton
//-------------------------
@charset "UTF-8";
#imageMap {
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}
#imageMap img {
	display: block;
	width: 100%;
}
#imageMap #hotspots {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	/*visibility: hidden;*/
}
#imageMap a {
	display: block;
	position: absolute;
	/*background: #0066ff;*/
	z-index: 100;
	opacity: 0.2; /* CSS3 */
	filter: alpha(opacity=20); /* older browser */
	border: 1px solid #000;
	/*border-radius: 10px;*/
}
#imageMap #note_01 {
	left: 8.5%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}
#imageMap #note_02 {
	left: 14%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}
#imageMap #note_03 {
	left: 19.5%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}
#imageMap #note_04 {
	left: 28.5%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}
#imageMap #note_05 {
	left: 40%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}
#imageMap #note_06 {
	left: 49%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}
#imageMap #note_07 {
	left: 59%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}
#imageMap #note_08 {
	left: 69.5%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}
#imageMap #note_09 {
	left: 81.5%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}
#imageMap #note_10 {
	left: 87%;
	top: 0%;
	width: 4.5%;
	height: 100%;
}

#imageMap:hover #hotspots {
	/*visibility: visible;*/
}
/*#imageMap #hotspots div:hover a {
	background: #fff;
	z-index: 100;
	opacity: 0.3;
	filter: alpha(opacity=30);
	border: 1px solid #000;
}*/

/* button colours after feedback */
.button_correct {
	background-color:#0f0;
}
.button_not_correct {
	background-color:#f00;
}
.answer_correct {
	background-color:#d2ffc8;
}
.answer_not_correct {
	background-color:#f9cccc;
}


//Eselsleiter für Teiltonleiter
//------------------------------
#imageMap_eselsleiter {
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}
#imageMap_eselsleiter img {
	display: block;
	width: 100%;
	padding-top: 0px !important;
}
#imageMap_eselsleiter #hotspots {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	/*visibility: hidden;*/
}
#imageMap_eselsleiter a {
	display: block;
	position: absolute;
	/*background: #0066ff;*/
	z-index: 100;
	opacity: 0.2; /* CSS3 */
	filter: alpha(opacity=20); /* older browser */
	border: 1px solid #000;
	/*border-radius: 10px;*/
}
#imageMap_eselsleiter #intervall_1_2 {
	left: 2.5%;
	top: 3.1%;
	width: 94%;
	height: 5.3%;
}
#imageMap_eselsleiter #intervall_2_3 {
	left: 2.5%;
	top: 8.4%;
	width: 94%;
	height: 6.3%;
}
#imageMap_eselsleiter #intervall_3_4 {
	left: 2.5%;
	top: 14.7%;
	width: 94%;
	height: 6.4%;
}
#imageMap_eselsleiter #intervall_4_5 {
	left: 2.5%;
	top: 21.1%;
	width: 94%;
	height: 6.4%;
}
#imageMap_eselsleiter #intervall_5_6 {
	left: 2.5%;
	top: 27.5%;
	width: 94%;
	height: 6.4%;
}
#imageMap_eselsleiter #intervall_6_7 {
	left: 2.5%;
	top: 33.9%;
	width: 94%;
	height: 6.4%;
}
#imageMap_eselsleiter #intervall_7_8 {
	left: 2.5%;
	top: 40.3%;
	width: 94%;
	height: 6.2%;
}
#imageMap_eselsleiter #intervall_8_9 {
	left: 2.5%;
	top: 46.5%;
	width: 94%;
	height: 6.2%;
}
#imageMap_eselsleiter #intervall_9_10 {
	left: 2.5%;
	top: 52.7%;
	width: 94%;
	height: 6.4%;
}
#imageMap_eselsleiter #intervall_10_11 {
	left: 2.5%;
	top: 59.1%;
	width: 94%;
	height: 6.1%;
}
#imageMap_eselsleiter #intervall_11_12 {
	left: 2.5%;
	top: 65.2%;
	width: 94%;
	height: 6.2%;
}
#imageMap_eselsleiter #intervall_12_13 {
	left: 2.5%;
	top: 71.4%;
	width: 94%;
	height: 6.3%;
}
#imageMap_eselsleiter #intervall_13_14 {
	left: 2.5%;
	top: 77.7%;
	width: 94%;
	height: 6.2%;
}
#imageMap_eselsleiter #intervall_14_15 {
	left: 2.5%;
	top: 83.9%;
	width: 94%;
	height: 6.3%;
}
#imageMap_eselsleiter #intervall_15_16 {
	left: 2.5%;
	top: 90.2%;
	width: 94%;
	height: 6.2%;
}

#imageMap_eselsleiter #alphorn_01 {
	left: 0%;
	top: 0%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_02 {
	left: 0%;
	top: 6.2%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_03 {
	left: 0%;
	top: 12.4%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_04 {
	left: 0%;
	top: 18.6%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_05 {
	left: 0%;
	top: 24.8%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_06 {
	left: 0%;
	top: 31%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_07 {
	left: 0%;
	top: 37.2%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_08 {
	left: 0%;
	top: 43.4%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_09 {
	left: 0%;
	top: 49.6%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_10 {
	left: 0%;
	top: 55.8%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_11 {
	left: 0%;
	top: 62%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_12 {
	left: 0%;
	top: 68.2%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_13 {
	left: 0%;
	top: 74.4%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_14 {
	left: 0%;
	top: 80.6%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_15 {
	left: 0%;
	top: 86.8%;
	width: 2.4%;
	height: 6.2%;
}
#imageMap_eselsleiter #alphorn_16 {
	left: 0%;
	top: 93%;
	width: 2.4%;
	height: 6.2%;
}


#imageMap_eselsleiter:hover #hotspots {
	/*visibility: visible;*/
}
#imageMap_eselsleiter #hotspots div:hover a {
	background: #0066ff;
	z-index: 100;
	opacity: 0.2;
	filter: alpha(opacity=20);
	border: 1px solid #000;
}