{% load staticfiles i18n utility_tags utils %}
<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
<![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang=""> <![endif]-->
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {% if user.is_authenticated %}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    {% endif %}

    <link rel="apple-touch-icon" type="image/png"
                                 href="{{STATIC_URL}}images/favicon.ico">
    <link rel="shortcut icon" type="image/png"
                              href="{{STATIC_URL}}images/favicon.ico"/>
    <link rel="apple-touch-icon" href="{{STATIC_URL}}images/apple-touch-icon.png">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- Latest compiled and minified Bootstrap 4 Alpha 4 CSS -->
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fast.fonts.net/cssapi/b023cf84-f602-49db-8821-883d5e34f430.css"
                                 type="text/css" rel="stylesheet" />
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lms_base/css/lms_base.css" />
    {% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Required by Bootstrap v4 Alpha 6 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- Your stuff: Third-party javascript libraries go here -->
    <!-- place project specific Javascript in this file -->
    {% block javascript %}
    <script src="{{STATIC_URL}}lms_base/js/lms_base.js"></script>
    {% endblock javascript%}

  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please <a
      href="http://browsehappy.com/">upgrade your browser</a> to improve your
      experience.
      </p>
    <![endif]-->
    {% block header%}
    <header id="header">
      <!-- Brand container -->
      <div class="uni-main-wrapper">
        <div class="container-fluid">
          <div class="uni-logo row no-gutters">
            <div class="col-12">
              <a href="https://www.unibas.ch" target="_blank">
            {% if LANGUAGE_CODE == 'en' %}
            <img src="{% static 'images/uni-basel-logo-en.svg' %}"
                 alt="University of Basel">
            {% endif %}
            {% if LANGUAGE_CODE == 'de' %}
            <img src="{% static 'images/uni-basel-logo-de.svg' %}"
                 alt="Universität Basel">
            {% endif %}
               </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% endblock header%}
    {% block sidebar-nav %}
    <nav id="sidebar-nav" role="tablist" aria-multiselectable="true" class="">
      <ul class="nav flex-column">
        <li class="nav-item sidebar-toggle">
          <a class="nav-link float-left nav-close-button arrow-left">
            <i class="icon-nmc-arrow-left nav-arrow" aria-hidden="true"></i>
          </a>
          <a class="nav-link float-right nav-open-button">
            <i class="nmc-icon-arrow nav-arrow" aria-hidden="true"></i>
          </a>
        </li>
      {% block navigation %}
      {% endblock navigation %}
      </ul>
    </nav>
    {% endblock %}
    <!-- Title container -->
    {% block title-bar %}
    <div id="titlebar" class="container-fluid title-bar-wrapper bg-light-grey">
      <div class="row col-12">
        {% block sidebar-arrow %}
        <div class="col-1 sidebar-arrow-gap">
          <a id="sidebar-toggle" class="nav-link float-left nav-open-button" href="#" onclick="$('#sidebar-nav').addClass('open');$('#sidebar-toggle').addClass('open');return false;">
            <i class="nmc-icon-arrow nav-arrow" aria-hidden="true"></i>
          </a>
        </div>
        {% endblock %}
        <div class="col-10">
        {% block course-title %}
        {% endblock course-title%}
        </div>
      </div>
    </div>
    {% endblock %}
    <main id="main-content">
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
      {% endif %}

      {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

      {% block modal %}
      {% endblock modal %}
    </main>
    {% block footer %}
    <footer id="footer" class="navbar bottom bg-light-grey">
      <div class="container justify-content-center">
        <ul class="nav flex-row flex-wrap">
          {% if course_contact %}
          <li class="nav-item">
            <a data-toggle="modal" class="nav-link footer-link" data-target="#kontakt-modal">{% trans "Kontakt" %}</a>
            <div class="modal" id="kontakt-modal" tabindex="1"
                role="dialog" aria-labelledby="kontakt-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <h1 class="footnote-title">{% trans "Kontaktadresse" %}</h1>
                            <p>
                                {{ course_contact|markdownify|safe }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          </li>
          {% endif %}
          <li class="nav-item">
            <a data-toggle="modal" class="nav-link footer-link" href="{% url 'base:about' %}" data-target="#about-modal">{% trans "Info" %}</a>
            <div class="modal" id="about-modal" tabindex="1"
                role="dialog" aria-labelledby="about-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <img alt="loading" src="{% static 'debug_toolbar/img/ajax-loader.gif' %}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          </li>
          <li class="nav-item">
            <a data-toggle="modal" class="nav-link footer-link" href="{% url 'base:help' %}" data-target="#help-modal">{% trans "Hilfe" %}</a>
            <div class="modal" id="help-modal" tabindex="1"
                role="dialog" aria-labelledby="help-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <p>
                            <img alt="loading" src="{% static 'debug_toolbar/img/ajax-loader.gif' %}">
                          </p>
                        </div>
                    </div>
                </div>
            </div>
          </li>
          <li class="nav-item">
            <a data-toggle="modal" class="nav-link footer-link" href="{% url 'base:impressum' %}" data-target="#impressum-modal">{% trans "Impressum" %}</a>
            <div class="modal" id="impressum-modal" tabindex="1"
                role="dialog" aria-labelledby="impressum-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <img alt="loading" src="{% static 'debug_toolbar/img/ajax-loader.gif' %}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <script>
            $('body').on('click', '[data-toggle="modal"]', function () {
                $ ($ (this).data ("target")+' .modal-body').load ($ (this).attr ('href'));
            });
            </script>
          </li>
          {% if request.user.is_authenticated %}
            {% block secured_navigation %}
            {% endblock secured_navigation %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}?next={{request.path}}">{% trans "Abmelden" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'courselist' %}">{% trans "Tales-Übersicht" %}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a id="log-in-link" class="nav-link footer-link" href="{% url 'account_login' %}?next={{request.path}}">{% trans "Internes Login" %}</a>
            </li>
          {% endif %}

        </ul>
        {% endblock footer %}
      </div>
    </footer>
    {% block tracker %}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://nmc.unibas.ch/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '21']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
    <!-- Piwik Image Tracker-->
    <img src="https://nmc.unibas.ch/piwik/piwik.php?idsite=21&rec=1" style="border:0" alt="" />
    <!-- End Piwik -->
      {% endblock tracker %}
  </body>
</html>