{% extends "base.html" %}
{% load staticfiles i18n utils rules %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{STATIC_URL}}lms_nahtkurs/css/lms_nahtkurs.css">
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{{STATIC_URL}}lms_nahtkurs/js/lms_nahtkurs.js"></script>
{% endblock javascript%}

{% block title %}
Nahtkurs
{% endblock title %}

{% block sidebar-nav %}
<nav id="sidebar-nav" role="tablist" aria-multiselectable="true" class="fixed-top-sidebar">
  <ul class="nav flex-column">
    <li class="nav-item sidebar-toggle">
      <a class="nav-link float-left nav-close-button arrow-left">
        <i class="icon-nmc-arrow-left nav-arrow" aria-hidden="true"></i>
        <span class="subnav-module-title">{{object.title}}</span>
      </a>
      <a class="nav-link float-right nav-open-button">
        <i class="nmc-icon-arrow nav-arrow" aria-hidden="true"></i>
      </a>
    </li>
{% block navigation %}
  {% for chapter in object.get_course.chapters.all %}
  <li class="nav-item panel">
    <a class="nav-link {% if chapter == object.chapter %}active{% endif %}" role="tab" data-toggle="collapse" data-parent="#sidebar-nav" href="#subnav-{{forloop.counter}}" aria-expanded="false" aria-controls="subnav-{{forloop.counter}}">
      <span class="mr-3">{{forloop.counter}}</span> <span>{{chapter.title}}</span> <span class="menu-numbers float-right">{{forloop.counter}}</span>
    </a>
    <div id="subnav-{{forloop.counter}}" class="collapse subcollapse" role="tabpanel">
      <ul class="nav flex-column">
        {% for step in chapter.steps.all %}
        <li class="nav-item">
          <a class="nav-link row {% if step == object %}active{% endif %} d-flex flex-row flex-nowrap d-none d-sm-block" href="{{step.get_absolute_url}}">
            <span class="subnav-link">{{forloop.parentloop.counter}}.{{forloop.counter}}</span>
            <span class="subnav-link subnav-title subnav-title-md-up">{{step.title}}</span>
            <span class="float-right ml-auto subnav-info px-3">{{step.type_verbose}} {% if step.duration %}, {{step.duration}} {% endif %}</span>
          </a>

          <a class="nav-link row {% if step == object %}active{% endif %} d-flex flex-row flex-nowrap d-sm-none" href="{{step.get_absolute_url}}">
            <span class="subnav-link">{{forloop.parentloop.counter}}.{{forloop.counter}}</span>
            <div class="d-flex flex-column">
            <span class="subnav-link subnav-title">{{step.title}}</span>
            <span class="subnav-info pl-2">{{step.type_verbose}}{% if step.duration %}, {{step.duration}} {% endif %}</span>
          </div>
          </a>

        </li>
        {% endfor %}
      </ul>
    </div>
  </li>
  {% endfor %}
  {% endblock navigation %}
  </ul>
</nav>
{% endblock %}

{% block footer %}
<footer id="footer" class="navbar bottom bg-light-grey">
  <div class="container justify-content-center">
    <ul class="nav flex-row flex-wrap">
      <li class="nav-item">
        <a data-toggle="modal" class="nav-link footer-link" data-target="#kontakt-modal">{% trans "Kontakt" %}</a>
        <div class="modal" id="kontakt-modal" tabindex="1"
            role="dialog" aria-labelledby="kontakt-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <h1 class="footnote-title">{% trans "Kontaktadresse" %}</h1>
                        <p>
                            {{ course_contact|markdownify|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <a data-toggle="modal" class="nav-link footer-link" href="{% url 'nahtkurs:glossar' %}" data-target="#glossar-modal">{% trans "Glossar" %}</a>
        <div class="modal" id="glossar-modal" tabindex="1"
            role="dialog" aria-labelledby="glossar-modal-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  <img alt="loading" src="{% static 'debug_toolbar/img/ajax-loader.gif' %}">
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a data-toggle="modal" class="nav-link footer-link" href="{% url 'nahtkurs:about' %}" data-target="#about-modal">{% trans "Info" %}</a>
        <div class="modal" id="about-modal" tabindex="1"
            role="dialog" aria-labelledby="about-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <img alt="loading" src="{% static 'debug_toolbar/img/ajax-loader.gif' %}">
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <a data-toggle="modal" class="nav-link footer-link" href="{% url 'nahtkurs:help' %}" data-target="#help-modal">{% trans "Hilfe" %}</a>
        <div class="modal" id="help-modal" tabindex="1"
            role="dialog" aria-labelledby="help-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        <img alt="loading" src="{% static 'debug_toolbar/img/ajax-loader.gif' %}">
                      </p>
                    </div>
                </div>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <a data-toggle="modal" class="nav-link footer-link" href="{% url 'nahtkurs:impressum' %}" data-target="#impressum-modal">{% trans "Impressum" %}</a>
        <div class="modal" id="impressum-modal" tabindex="1"
            role="dialog" aria-labelledby="impressum-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <img alt="loading" src="{% static 'debug_toolbar/img/ajax-loader.gif' %}">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $('body').on('click', '[data-toggle="modal"]', function (event) {
            $ ($ (this).data ("target")+' .modal-body').load ($ (this).attr ('href'),
              function () {
                $(this).trigger(jQuery.Event( "loaded.modal", { title: event.currentTarget.title } ));
              });
        });
        </script>
      </li>
      {% if request.user.is_authenticated %}
        {% block secured_navigation %}
        {% endblock secured_navigation %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}?next={{request.path}}">{% trans "Abmelden" %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a id="log-in-link" class="nav-link footer-link" href="{% url 'account_login' %}?next={{request.path}}">{% trans "Internes Login" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</footer>
{% endblock footer %}
{% block tracker %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//nmc.unibas.ch/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '23']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<!-- Piwik Image Tracker-->
<img src="https://nmc.unibas.ch/piwik/piwik.php?idsite=23&rec=1" style="border:0" alt="" />
<!-- End Piwik -->
{% endblock tracker %}