{% extends "base.html" %}
{% load staticfiles i18n utility_tags utils %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{STATIC_URL}}lms_tales/css/lms_tales.css">
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{{STATIC_URL}}lms_tales/js/lms_tales.js"></script>
{% endblock javascript%}

{% block title %}
Tales
{% endblock title %}

{% block navigation %}
  {% for chapter in object.get_course.chapters.all %}
  <li class="nav-item panel">
    <a class="nav-link {% if chapter == object.chapter %}active{% endif %}" role="tab" data-toggle="collapse" data-parent="#sidebar-nav" href="#subnav-{{forloop.counter}}" aria-expanded="false" aria-controls="subnav-{{forloop.counter}}">
      <span class="mr-3">{{forloop.counter}}</span> <span>{{chapter.title}}</span> <span class="menu-numbers float-right">{{forloop.counter}}</span>
    </a>
    <div id="subnav-{{forloop.counter}}" class="collapse subcollapse" role="tabpanel">
      <ul class="nav flex-column">
        {% for step in chapter.steps.all %}
        <li class="nav-item">
          <a class="nav-link row {% if step == object %}active{% endif %} d-flex flex-row flex-nowrap d-none d-sm-block" href="{{step.get_absolute_url}}">
            <span class="subnav-link">{{forloop.parentloop.counter}}.{{forloop.counter}}</span>
            <span class="subnav-link subnav-title subnav-title-md-up">{{step.title}}</span>
            <span class="float-right ml-auto subnav-info px-3">{{step.type_verbose}}{% if step.duration %}, {{step.duration}} {% endif %}</span>
          </a>

          <a class="nav-link row {% if step == object %}active{% endif %} d-flex flex-row flex-nowrap d-sm-none" href="{{step.get_absolute_url}}">
            <span class="subnav-link">{{forloop.parentloop.counter}}.{{forloop.counter}}</span>
            <div class="d-flex flex-column">
            <span class="subnav-link subnav-title">{{step.title}}</span>
            <span class="subnav-info pl-2">{{step.type_verbose}}{% if step.duration %}, {{step.duration}} {% endif %}</span>
          </div>
          </a>

        </li>
        {% endfor %}
      </ul>
    </div>
  </li>
  {% endfor %}
{% endblock navigation %}
{% block tracker %}
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//nmc.unibas.ch/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '21']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endblock tracker %}