{% extends "lms_nahtkurs_base.html" %}
{% load i18n utility_tags utils rules %}
{% block content %}

{% if user.is_authenticated %}

<h4> Courses </h4>

<div class="container">
  <div class="row">
    {% for course in nahtkurscourse_list %}
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{{MEDIA_URL}}{{course.title_image}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">
             <a href="{% url 'nahtkurs:course' slug=course.slug pk=course.pk %}">
              {{ course.title }}
            </a>
          </h4>
          <h6 class="card-subtitle text-muted">
              {{ course.subtitle }}
          </h6>
          <p class="card-text">
            {{ course.content|truncatewords_html:30 }}
          </p>
          {% if user.is_authenticated %}
          {% has_perm 'lms_nahtkurs.change_NahtkursCourse' user course as can_change %}
          {% has_perm 'lms_nahtkurs.delete_NahtkursCourse' user course as can_delete %}

          {% if can_change %}
            <a class="btn btn-outline-primary" href="{% url 'nahtkurs:course_edit' course.pk %}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              {% trans 'Bearbeiten' %}
            </a>
          {% endif %}
          {% if can_delete %}
            <a class="btn btn-outline-danger" href="{% url 'nahtkurs:course_delete' course.pk %}">
              <i class="fa fa-trash" aria-hidden="true"></i>
              {% trans 'Löschen' %}
            </a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="container">
  <div class="row no-gutters">
    <div class="col-12">
      <div>
        <p>HOME</p>
      </div>
      {% if user.is_authenticated %}
      {% include "nahtkurs_course_list.html" %}
      {% endif %}
    </div>
  </div>
</div>
{% endif %}


{% endblock %}