{% load staticfiles i18n utility_tags utils %}
<a class="course-title-link" href="{{ object.chapter.course.get_absolute_url }}">
  <p class="course-title d-flex">{{ object.chapter.course.title }}
    {% if object.subtitle %}
    &nbsp;
  <span class="course-title-subtitle d-none d-sm-flex"> {{ object.chapter.course.subtitle }}</span>
  {% endif %}
  &nbsp;
  </p>
</a>