{% load staticfiles i18n utility_tags utils %}

<p class="course-title d-flex">
  <a href="{{ object.course.get_absolute_url }}">
  {{ object.get_course.title }}
  {% if object.subtitle %}
  &nbsp;
    <span class="course-title-subtitle d-none d-sm-block"> {{ object.course.subtitle }}</span>
  &nbsp;
  {% endif %}
  </a>
</p>