{% extends "lms_nahtkurs_base.html" %}
{% load staticfiles i18n utils rules%}

{% block javascript %}
  {{ block.super }}
  {% if user.is_authenticated %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
  <script src="{{STATIC_URL}}lms_nahtkurs/js/lms_nahtkurs_course_home.js"></script>
  {% endif %}
  <script>
    var urlpath = "{% url 'nahtkurs:chapter_update_order' %}";
    var object_pk = '{{ object.pk }}';
</script>
{% endblock %}
{% block title %}
{{ object.title }}
{% endblock title %}

{% block course-title %}
{% include "nahtkurs_course-title.html" %}
{% endblock course-title %}

{% block content %}
{% has_perm 'lms_nahtkurs.change_nahtkurschapter' user object as can_change %}
{% has_perm 'lms_nahtkurs.delete_nahtkurschapter' user object as can_delete %}
{% has_perm 'lms_nahtkurs.add_nahtkurschapter' user object as can_add %}
<div class="d-none d-sm-block">
  <div class="container-fluid" style="background:url('{{ MEDIA_URL }}{{object.title_image}}'); background-repeat: no-repeat; background-position: top center; background-size: 100vw;">
    <div class="row no-gutters">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-12 col-md-10 offset-md-1 pt-3">
              <div class="bg-red px-4">
                <h1 class="course-heading">{{ object.title }} </h1>
                <h2 class="course-subtitle"> {{ object.subtitle }}</h2>
              </div>
            </div>
          </div>
          {% if object.content %}
          <div class="row markdown-content no-gutters">
            <div class="col-12 pt-3 col-md-10 offset-md-1">
              <div class="bg-white px-4">
                {{ object.content|markdownify|safe }}
                <h1 class="author-title pt-5">{% trans 'Die Autoren' %}</h1>
                <div class="row">
                {% for author in object.author.all %}
                  <div class="col-12 author-name">
                    {% if author.image %}
                    <img src="{{ MEDIA_URL }}{{ author.image }}">
                    {% endif %}
                    {{ author.name | markdownify | safe }}
                  </div>
                {% endfor %}
                </div>
                <!-- Autor Bild -->
              </div>
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-12">
              {% with step=object.chapters.first.steps.first %}
              {% if step %}
              <div class="right-link pull-right bg-white-pn-link px-2 my-2 pb-2">
                <a href="{% url 'nahtkurs:step' object.slug object.pk step.chapter.slug step.chapter.pk step.slug step.pk%}" class="float-right arrow-link d-flex">
                  <div class="d-flex flex-center">
                  {{step}}<br>
                    <span class="step-type">{{ step.type_verbose }}</span>
                  </div>
                  <div class="arrow d-flex pl-4">
                    <i class="nmc-icon-next"></i>
                  </div>
                </a>
              </div>
              {% endif %}
              {% endwith %}
            </div>
          </div>
          {% if user.is_authenticated %}
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="bg-white px-2">
              <h5>{% trans 'Kapitel' %}</h5>
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>{% trans 'Titel' %}</th>
                      <th>{% trans 'Aktion' %}</th>
                    </tr>
                  </thead>
                  <tbody id="chapter-list">
                  {% for chapter in object.chapters.all %}
                  <tr data-id="{{ chapter.pk }}" class="chapter-list-item">
                    <td>
                      <i class="fa fa-bars handle" aria-hidden="true"></i>
                    </td>
                    <td>
                      <a href="{% url 'nahtkurs:chapter' object.slug object.pk chapter.slug chapter.pk %}">
                      {{ chapter.title }}
                      </a>
                    </td>
                    <td>
                      {% if user.is_authenticated %}
                      {% if can_change %}
                      <a href="{% url 'nahtkurs:chapter_edit' chapter.pk %}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        {% trans 'Bearbeiten' %}
                      </a>
                      {% endif %}
                      {% if can_delete %}
                      <a href="{% url 'nahtkurs:chapter_delete' chapter.pk %}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        {% trans 'Löschen' %}
                      </a>
                      {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if user.is_authenticated %}
              {% if can_add %}
              <a class="btn btn-outline-primary" href="{% url 'nahtkurs:chapter_add' object.pk %}">{% trans 'Neues Kapitel hinzufügen' %}</a>
              {% endif %}
              {% endif %}
            </div>
          </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-sm-none">
  <div class="container-fluid" style="background:url('{{ MEDIA_URL }}{{object.title_image}}'); background-repeat: no-repeat; background-position: top center; background-size: 100vw;">
    <div class="row no-gutters">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-12 col-md-10 offset-md-1 pt-3">
              <div class="bg-red px-4">
                <h1 class="course-heading">{{ object.title }} </h1>
                <h2 class="course-subtitle"> {{ object.subtitle }} </h2>
              </div>
            </div>
          </div>
          {% if object.content %}
          <div class="row markdown-content no-gutters">
            <div class="col-12 pt-3 col-md-10 offset-md-1">
              <div class="bg-white px-4 py-2">
                {{ object.content|markdownify|safe }}
                {% endif %}
                <h1 class="author-title">Die Autoren</h1>
                <ul style="list-style-type: none; padding-left: 0;">
                {% for author in object.author.all %}
                  <li>
                    {{ author.name | markdownify | safe }}
                  </li>
                {% endfor %}
              </ul>
                <!-- Autor Bild -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              {% with step=object.chapters.first.steps.first %}
              {% if step %}
              <div class="right-link pull-right bg-white-pn-link px-2 my-2 pb-4">
                <a href="{% url 'nahtkurs:step' object.slug object.pk step.chapter.slug step.chapter.pk step.slug step.pk%}" class="float-right arrow-link d-flex">
                  <div class="d-flex flex-center">
                  {{step}}<br>
                    <span class="step-type">{{ step.type_verbose }}</span>
                  </div>
                  <div class="arrow d-flex pl-4">
                    <i class="nmc-icon-next"></i>
                  </div>
                </a>
              </div>
              {% endif %}
              {% endwith %}
            </div>
          </div>
          {% if user.is_authenticated %}
          {% if can_change %}
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="bg-white px-2">
              <h5>{% trans 'Kapitel' %}</h5>
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>{% trans 'Titel' %}</th>
                      <th>{% trans 'Aktion' %}</th>
                    </tr>
                  </thead>
                  <tbody id="chapter-list-small">
                  {% for chapter in object.chapters.all %}
                  <tr data-id="{{ chapter.pk }}" class="chapter-list-item">
                    <td>
                      <i class="fa fa-bars handle" aria-hidden="true"></i>
                    </td>
                    <td>
                      <a href="{% url 'nahtkurs:chapter' object.slug object.pk chapter.slug chapter.pk %}">
                      {{ chapter.title }}
                      </a>
                    </td>
                    <td>
                      {% if user.is_authenticated %}
                      {% if can_change %}
                      <a href="{% url 'nahtkurs:chapter_edit' chapter.pk %}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        {% trans 'Bearbeiten' %}
                      </a>
                      {% endif %}
                      {% if can_delete %}
                      <a href="{% url 'nahtkurs:chapter_delete' chapter.pk %}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        {% trans 'Löschen' %}
                      </a>
                      {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if user.is_authenticated %}
              {% if can_add %}
              <a class="btn btn-outline-primary" href="{% url 'nahtkurs:chapter_add' object.pk %}">{% trans 'Neues Kapitel hinzufügen' %}</a>
              {% endif %}
              {% endif %}
            </div>
          </div>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}