//lms-tales
//------------
body {
  hyphens: none;
}
p {
  font-family: $font-family-swift-serif;
  font-size: $font-size-normal;
  color: black;
  line-height: 28px;
  padding-top: $content-spacer;
  margin-bottom: $content-spacer;
  hyphens: none;
}
a {
  cursor: pointer;
  color:$uni-red;
  .course-title-link {
    color: $uni-anthracite;
  }
}
a:hover {
  text-decoration: none;
   color: $uni-red;
   .course-title-link {
     color: $uni-anthracite;
   }
}
a:link {
   color: $uni-red;
   .course-title-link {
     color: $uni-anthracite;
   }
}

a:visited {
   color: $uni-red;
   .course-title-link {
     color: $uni-anthracite;
   }
}
a:hover {
   color: $uni-red;
   .course-title-link {
     color: $uni-anthracite;
   }
}
a:active {
   color: $uni-red;
   .course-title-link {
     color: $uni-anthracite;
   }
}
blockquote {
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: .1rem solid #2d373c;
  p {
    padding-top: 0px;
  }
}
.course-title {
  font-family: $font-family-univers-sans-serif-bold;
  font-size: $font-size-normal;
  color: $uni-anthracite;
  text-transform: uppercase;
  padding-top: 11.5px;
  margin-bottom: 11.5px;
  padding-bottom: 0px;
  margin-left: 20px;
  line-height: 20px;
}
.course-title-subtitle {
  font-family: $font-family-univers-sans-serif-roman;
  font-size: $font-size-normal;
  color: $uni-anthracite;
  text-transform: uppercase;
}
.course-heading {
  font-family: $font-family-univers-sans-serif-bold;
  font-size: $font-size-title-startpage-xs;
  color: white;
  text-transform: uppercase;
  line-height: 35px;
  padding-top: 18px;
  letter-spacing: 0.9px;
}
.course-subtitle {
  font-family: $font-family-univers-sans-serif-roman;
  font-size: $font-size-subtitle-startpage-xs;
  color: white;
  text-transform: uppercase;
  line-height: 32px;
  padding-top: 9px;
  padding-bottom: 18px;
}
.step-heading {
  font-family: $font-family-univers-sans-serif-bold;
  font-size: $font-size-bigger-xs;
  color: $uni-anthracite;
  text-transform: uppercase;
  line-height: 32px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  letter-spacing: 0.3px;
}
.step-subtitle {
  font-family: $font-family-univers-sans-serif-light;
  font-size: $font-size-bigger-xs;
  line-height: 32px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.step-type {
  color: $grey;
}
.left-link {
  float: left;
}
.arrow {
  font-size: 50px;
}
.arrow-link {
  font-family: $font-family-univers-sans-serif-bold;
  font-size: $font-size-small;
  color: $uni-anthracite;
  text-transform: uppercase;
}
.bg-red {
  background-color: $uni-red-course-home-header;
  margin-top: 118px;
  margin-bottom: 58px;
}
.bg-white {
  background-color: $white-course-home-content;
}
.bg-white-pn-link {
  background-color: $white-pn-link;
}
.fa-angle-left {
  color: $uni-red;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author-title {
  font-size: $font-size-normal;
}
.step-number {
  font-family: $font-family-univers-sans-serif-light;
  font-size: $font-size-bigger;
  color: $grey;
  padding-top: 0px;
  margin-bottom: 24px;
}

.step-duration {
  font-family: $font-family-univers-sans-serif-light;
  font-size: $font-size-bigger;
  color: $grey;
  margin-bottom: 0px;
  float: right;
}
.step-title {
  margin-top: 34px;
}
.subnav-link {
  margin-left: 1.8rem;
  margin-right: .5rem;
}
.subnav-title {
  margin-left: .5rem;
}
.subnav-info {
  font-family: $font-family-univer-sans-serif-light-oblique;
}
.subnav-title-md-up {
  max-width: 65%;
}
// nav thingies
//-------------

.bottom {
  padding-top: 12px;
  padding-bottom: 12px;
}
.sidebar-toggle {
  position: relative;
  font-size: $font-size-big;
  background-color: $uni-anthracite;
  color: $grey;
}
.step-navigation {
  padding-top: 31px;
  padding-bottom: 31px;
}
.footer-link {
  color: $uni-anthracite !important;
}
.arrow-left {
  padding-left: 9px;
}
.sidebar-arrow-gap {
  @include media-breakpoint-down(sm) {
  padding-left: 0px;
  padding-right: 0px;
  }
@include media-breakpoint-down(xs) {
  min-width: 14vw;
  }
}
.nav-arrow {
  font-size: 19px;
  color: white !important;
}



// Markdown Classes
//-----------------
.markdown-content {
  h1 {
    font-family: $font-family-univers-sans-serif-bold;
    color: $uni-anthracite;
    text-transform: uppercase;
    font-size: $font-size-normal;
  }
  h2 {
    font-family: $font-family-univers-sans-serif-light;
    color: $uni-anthracite;
    text-transform: uppercase;
    font-size: $font-size-normal;
  }
  h3 {
    font-family: $font-family-univers-sans-serif-bold;
    color: $uni-anthracite;
    text-transform: none;
    font-size: $font-size-normal;
  }
  .lead {
    font-family: $font-family-swift-serif-bold;
    font-size: $font-size-normal;
    color: $uni-anthracite;
    padding-top: 1.06rem;
    line-height: 28px;
    margin-bottom: $content-spacer;
  }
  .footnote-title {
    font-family: $font-family-univers-sans-serif-bold;
    font-size: $font-size-small;
    color: $uni-anthracite;
    text-transform: uppercase;
    padding-top: 47px;
    margin-bottom: 3px;
  }
  .footnote {
    font-family: $font-family-univers-sans-serif-roman;
    font-size: $font-size-small;
    color: black;
    line-height: 24px;
    p {
      font-family: $font-family-univers-sans-serif-roman;
      font-size: $font-size-small;
      color: black;
      line-height: 24px;
    }
  }
  .image-author {
    border-radius: 50px;
  }

  .author-name p {
    padding-top: 0px;
    margin-bottom: 19px;
    font-family: $font-family-univers-sans-serif-roman !important;
    font-size: $font-size-small !important;
    color: black;
    line-height: 20px;
  }

  .author-name img {
    width: 100%;
  }

  img {
    max-width: 100%;
    margin-top: 0.78rem;
    margin-bottom: 1.06rem;
    @include media-breakpoint-up(sm) {
      margin-top: 2.55rem;
      margin-bottom: 1.05rem;
    }
  }

  figure {
    max-width: 100%;
    margin-top: 0.78rem;
    margin-bottom: 1.06rem;
    @include media-breakpoint-up(sm) {
      margin-bottom: 1.05rem;
    }
  }

  figure img {
    padding-top: 0px;
    margin-bottom: 0px;
  }

  figcaption {
    padding-top: 1.05rem;
  }

  figcaption p {
    padding-top: 0px;
    margin-bottom: 0px;
    font-family: $font-family-univers-sans-serif-roman;
    font-size: $font-size-small;
    color: black;
    line-height: 20px;
  }

  .thumb-4 {
    max-width: 100%;
    margin-bottom: 0px;
    img {
      display: block;
      margin: auto;
      margin-bottom: 1.05rem;
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .thumb-caption {
    padding-top: 0px;
    margin-bottom: 0px;
    font-family: $font-family-univers-sans-serif-roman !important;
    font-size: $font-size-small !important;
    color: black;
    line-height: 20px;
  }

  .thumb-6 {
    max-width: 100%;
    margin-bottom: 0px;
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }

  .portrait {
    background-color: $light-grey;
    padding-top: 0px;
    margin-bottom: 17px;
    margin-top: $content-spacer;
    img {
      display: block;
      margin: auto;
    }
  }

  .oembed {
    @extend .embed-responsive;
    @extend .embed-responsive-16by9;
    iframe {
      @extend .embed-responsive-item;
    }
  }
}
.row.no-gutters  {
  margin-right: -15px;
  margin-left: -15px;
}

.help-img {
  width: 100%;
}
// md up
//------
@include media-breakpoint-up(md) {
  body {
    hyphens: none;
  }
  .course-heading {
    padding-top:45px;
    padding-bottom:9px;
  }
  .course-subtitle {
    padding-top:17px;
    padding-bottom:45px;
  }
  .sidebar-nav {
    font-size: $font-size-bigger;
  }
  .course-title {
  margin-left: 0px;
  }
  .bg-red {
    background-color: $uni-red-course-home-header;
    margin-top: 157px;
    margin-bottom: 72px;
  }
}

// lg up
//------
@include media-breakpoint-up(lg) {
  .bg-red {
    margin-top: 340px;
    margin-bottom: 116px;
  }
  .course-heading {
    font-size: $font-size-title-startpage;
    line-height: 1.1;
    padding-bottom: 0px;
  }
  .course-subtitle {
    font-size: $font-size-subtitle-startpage;
    padding-top: 9px;
    line-height: 45px;
  }
  .course-title {
    font-size: $font-size-big;
  }
  .course-title-subtitle {
    font-size: $font-size-big;
  }
  .step-heading {
    font-size: $font-size-bigger;
    line-height: 38px;
  }
  .step-subtitle {
    font-size: $font-size-bigger;
    line-height: 38px;
  }
  .sidebar-nav {
    font-size: $font-size-big;
  }
}