{% extends "lms_tales_base.html" %}
{% load crispy_forms_tags i18n static utils %}

{% block course-title %}
{% include "cud-title.html" %}
{% endblock course-title %}

{% block content %}
<div class="container">
  <div class="col-12">
    <h4>{% blocktrans %}Neu erstellen{% endblocktrans %}</h4>
    <!-- Modal mit Infos zu Markdown -->
    <p>
      Hol dir ein paar <a data-toggle="modal" href="{% url 'base:markdown' %}" data-target="#markdown-modal">Infos</a> wie Markdown bei uns funktioniert.
    </p>
    <div class="modal" id="markdown-modal" tabindex="-1"
        role="dialog" aria-labelledby="markdown-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <img alt="loading" src="{% static 'debug_toolbar/img/ajax-loader.gif' %}">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    $('body').on('click', '[data-toggle="modal"]', function () {
        $ ($ (this).data ("target")+' .modal-body').load ($ (this).attr ('href'));
    });
    </script>
    <!-- Formular zur Eingabe der Daten -->
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="markdown-content">
        {{form|crispy}}
      </div>
      {% for formset in inlines %}
        <fieldset>
          <h5>{% get_verbose_name formset %}</h5>
          <div class="{{formset.prefix}}-formset">
            {{ formset.management_form }}
            {% for form in formset %}
              <div class="multiField">
                {{ form|crispy }}
              </div>
              <hr>
            {% endfor %}
          </div>
          <script type="text/javascript">
          $('.{{formset.prefix}}-formset .multiField').formset({
              addText: '{% trans "Weiteren Eintrag hinzufügen" %}',
              deleteText: '{% trans "Löschen" %}',
              prefix: '{{formset.prefix}}'
          });
          </script>
        </fieldset>
      {% endfor %}
      <br>
      <input class="btn btn-primary" type="submit" value="{% trans 'Speichern' %}">
      <a class="btn btn-secondary" href="{{ view.get_success_url }}">{% trans 'Abbrechen' %}</a>
    </form>
    {{ form.media }}
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock footer %}