{% extends "lms_tales_base.html" %}
{% load i18n rules %}
{% block content %}

{% if user.is_authenticated %}

<h4> Courses </h4>

<div class="container">
  <div class="row">
    {% for course in talescourse_list %}
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{{MEDIA_URL}}{{course.title_image}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'tales:course' slug=course.slug pk=course.pk %}">
              {{ course.title }}
            </a>
          </h4>
          <h6 class="card-subtitle text-muted">
              {{ course.subtitle }}
          </h6>
          <p class="card-text">
            {{ course.content|truncatewords_html:30 }}
          </p>
          {% if user.is_authenticated %}
          {% has_perm 'lms_tales.change_talescourse' user course as can_change %}
          {% has_perm 'lms_tales.delete_talescourse' user course as can_delete %}

          {% if can_change %}
            <a class="btn btn-outline-primary" href="{% url 'tales:course_edit' course.pk %}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              {% trans 'Bearbeiten' %}
            </a>
          {% endif %}
          {% if can_delete %}
            <a class="btn btn-outline-danger" href="{% url 'tales:course_delete' course.pk %}">
              <i class="fa fa-trash" aria-hidden="true"></i>
              {% trans 'Löschen' %}
            </a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- hier opos und nahtkurs manuell eingefügt -->
    <!--OPOS-->
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="https://tales.nmc.unibas.ch/static/images/opos_map_xl.png" alt="Opos">
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://tales.nmc.unibas.ch/opos">
              OPOS
            </a>
          </h4>
          <h6 class="card-subtitle text-muted">
              Open Planet of Sound
          </h6>
          <p class="card-text">
            Die multimediale Publikationsplattform OPOS – Open Planet of
            Sound öffnet ein Fenster in die Welt der Musik. OPOS dokumentiert,
            beschreibt und erforscht klangliche, kulturelle und soziale Aspekte
            von Musik und Tanz in einer stetig wachsenden Modulsammlung. ...
          </p>
        </div>
      </div>
    </div>
    <!--Nahtkurs-->
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="https://tales.nmc.unibas.ch/media/nahtkurs/nahtkurs/startbild.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://tales.nmc.unibas.ch/nahtkurs/de/nahtkurs-2">
              Nahtkurs
            </a>
          </h4>
          <h6 class="card-subtitle text-muted">
               Chirurgische Basiskompetenz
          </h6>
          <p class="card-text">
            Zu den grundlegenden Fertigkeiten, die Ärzte und Ärztinnen brauchen,
            gehört die einfache Wundversorgung. «Einfach» bedeutet dabei
            mitnichten «eindimensional»: Wer Medizin studiert, muss lernen, mit
            dem Patienten umzugehen ...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row no-gutters">
    <div class="col-12">
      <div>
        <p>HOME</p>
      </div>
      {% if user.is_authenticated %}
      {% include "course_list.html" %}
      {% endif %}
    </div>
  </div>
</div>
{% endif %}


{% endblock %}