{% load i18n rules %}
<p class="course-title d-flex">{{ object.title }}
  {% if object.subtitle %}
  &nbsp;
  <span class="course-title-subtitle d-none d-sm-flex">{{ object.subtitle }}</span>
  {% endif %}
  {% if user.is_authenticated %}
  {% has_perm 'lms_tales.change_talescourse' user object as can_change_course %}
  {% if can_change_course %}
  &nbsp;
    <a href="{% url 'tales:course_edit' object.pk %}">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
  {% endif %}
  {% endif%}
</p>