<p class="course-title">
<a href="{{ course.get_absolute_url }}">
  {{ course.title }}
  {% if object.subtitle %}
  &nbsp;
  <span class="course-title-subtitle"> {{ course.subtitle }}</span>
  {% endif %}
  &nbsp;
</a>
</p>