{% extends "lms_tales_base.html" %}
{% load crispy_forms_tags i18n %}

{% block course-title %}
{% include "cud-title.html" %}
{% endblock course-title %}

{% block content %}

<h4>{% blocktrans %}"{{object}}" löschen? {% endblocktrans %}</h4>

<form action="" method="post">
  {% csrf_token %}
  {{form|crispy}}
  <input class="btn btn-danger" type="submit" value="{% trans 'Löschen' %}">
  <a class="btn btn-secondary" href="{{ view.get_success_url }}">{% trans 'Abbrechen' %}</a>
</form>
{{ form.media }}

{% endblock %}