{% load staticfiles i18n %}
{% load utils %}
<script>
  var urlpath = "{% url 'tales:chapter_update_order' %}";
  var object_pk = '{{ object.pk }}';
</script>
<div>
  <h1 class="footnote-title">{% trans "Kontaktadresse" %}</h1>
  <div class="footnote">
<p></p>
  </div>
</div>