{% load staticfiles i18n utility_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {% block title %}
        {% trans "404 - Seite nicht gefunden" %}
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="https://fast.fonts.net/cssapi/b023cf84-f602-49db-8821-883d5e34f430.css"
                                 type="text/css" rel="stylesheet" />
  <style>
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(165,215,210, 0.85);
  font-family: "Univers LT W01 45 Light";
  color: #fff
}
html {
  background: url('{{STATIC_URL}}/images/empty_classroom.jpg');
  background-size: cover;
  background-position: bottom
}
.error {
  text-align: center;
  padding: 16px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%)
}
h1 {
  margin: -10px 0 -30px;
  font-size: calc(17vw + 40px);
  opacity: .8;
  letter-spacing: -17px;
}
p {
  opacity: 0.8;
  font-size: 20px;
  margin: 8px 0 38px 0;
  font-weight: bold
}

a:hover {
  color:#fff;
}

a:visited {
  color:#fff;
}

a {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 8px 14px;
    opacity: 0.8;
    cursor: pointer;
    font-family: "Univers LT W01 55 Roman";
    color: #fff;
  }
</style>

  </head>

  <body>

    <div class="error">
      <h1>404</h1>
      <p>{% trans "Diese Seite konnte nicht gefunden werden" %}</p>
      <a href="https://tales.nmc.unibas.ch/opos/">{% trans "Zurück zur Startseite" %}</a>
  </div>
  </body>

</html>