//== Grid system
//
//## Define your custom responsive grid.
//** Number of columns in the grid.
$grid-columns:              12;

$enable-flex: true;

// Farben CI Uni
// Anthrazit: RGB 45/55/60
$uni-anthracite: rgba(45,55,60,1);
// Mint: RGB 165/215/210
$uni-mint: rgba(165,215,210,1);
// Rot: RGB 210/5/55
$uni-red: rgba(210,5,55,1);

// Other colors for tales
// Grau RGB 149/152/154
$grey: rgba(149,152,154,1);
// Hellgrau RGB 245/245/239
$light-grey: rgba(245,245,239,1);
// SideNav active links
$active-link-grey: rgba(64,74,76,1);

//font-families
//-------------
$font-family-univers-sans-serif-bold: "Univers LT W01 65 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-univers-sans-serif-roman:  "Univers LT W01 55 Roman", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-univers-sans-serif-light:  "Univers LT W01 45 Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-swift-serif:       "Swift Neue LT W01", Georgia, "Times New Roman", Times, serif !default;
$font-family-swift-serif-bold:       "Swift Neue LT W01 Bold", Georgia, "Times New Roman", Times, serif !default;
$font-family-swift-serif-light: "Swift Neue LT W01 Light", Georgia, "Times New Roman", Times, serif !default;

//font sizes
//----------
$font-size-bigger:  1.30rem;
$font-size-big:     1.15rem;
$font-size-normal:  16px;
$font-size-small:   .90rem;
$font-size-smaller: .80rem;

//header
//----------
$top-header-height: 50px;

//== Spacers
//== Spacers
$content-spacer: 19px;
.m-05 {
  margin: (1rem * 0.5) !important;
}

.mt-5 {
  margin-top: (1rem * 5) !important;
}

//==Navbar
$navbar-inverse-toggler-border: transparent;