.hll { background-color: #ffffcc }
.c { color: $grey; font-style: italic } /* Comment */
.k { color: #0037BC; font-weight: bold } /* Keyword */
.ch { color: $grey; font-style: italic } /* Comment.Hashbang */
.cm { color: $grey; font-style: italic } /* Comment.Multiline */
.cp { color: $grey } /* Comment.Preproc */
.cpf { color: $grey; font-style: italic } /* Comment.PreprocFile */
.c1 { color: $grey; font-style: italic } /* Comment.Single */
.cs { color: $grey; font-style: italic } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.go { color: $grey } /* Generic.Output */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #0037BC; font-weight: bold } /* Keyword.Constant */
.kd { color: #0037BC; font-weight: bold } /* Keyword.Declaration */
.kn { color: #0037BC; font-weight: bold } /* Keyword.Namespace */
.kp { color: #0037BC } /* Keyword.Pseudo */
.kr { color: #0037BC; font-weight: bold } /* Keyword.Reserved */
.kt { color: #0037BC } /* Keyword.Type */
.na { color: #0037BC } /* Name.Attribute */
.nb { color: #0037BC } /* Name.Builtin */
.nc { color: #0037BC; font-weight: bold } /* Name.Class */
.nd { color: #0037BC } /* Name.Decorator */
.nf { color: #0037BC } /* Name.Function */
.nl { color: #0037BC } /* Name.Label */
.nn { color: #0037BC; font-weight: bold } /* Name.Namespace */
.nt { color: #0037BC; font-weight: bold } /* Name.Tag */
.nv { color: #0037BC } /* Name.Variable */
.ow { color: #0037BC; font-weight: bold } /* Operator.Word */
.w { color: $grey } /* Text.Whitespace */
.sr { color: $grey } /* Literal.String.Regex */
.bp { color: #0037BC } /* Name.Builtin.Pseudo */
.fm { color: #0037BC } /* Name.Function.Magic */
.vc { color: #0037BC } /* Name.Variable.Class */
.vg { color: #0037BC } /* Name.Variable.Global */
.vi { color: #0037BC } /* Name.Variable.Instance */
.vm { color: #0037BC } /* Name.Variable.Magic */