//general
//-------
html {
  font-size: $font-size-normal;
}

body {
  hyphens: none;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: $grid-gutter-width/2;
}

h1 {
  font-family: $font-family-univers-sans-serif-bold;
  font-size: $font-size-bigger;
  font-weight: 100;
}

h2 {
  font-family: $font-family-univers-sans-serif-bold;
  text-transform: uppercase;
  font-size: $font-size-big;
  padding-top: $grid-gutter-width/2;
  letter-spacing: 0.3px;
}

h3 {
  font-family: $font-family-univers-sans-serif-roman;
  font-size: $font-size-big;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

h4 {
  font-family: $font-family-swift-serif-light;
  font-size: $font-size-big;
  letter-spacing: 0.3px;
}

h5 {
  font-family: $font-family-univers-sans-serif-roman;
  letter-spacing: 0.3px;
}

p {
  font-family: $font-family-swift-serif;
  font-size: $font-size-normal;
  padding-top: $grid-gutter-width/2;
  hyphens: none;
  letter-spacing: 0.3px;
  color: black;
}

ul {
  list-style-type: disc;
}

.nav-item a {
  cursor: pointer !important;
}

a:not([href]):not([tabindex]) {
  color: #d20537 !important;
  cursor:default;
}

.portrait {
  background-color: $light-grey;
  padding-top: 0px;
  margin-bottom: 17px;
  margin-top: $content-spacer;
  img {
    display: block;
    margin: auto;
  }
}

.referenz-link * {
  font-size: 10px !important;
  color: #000000;
}

.referenz-text {
  font-size: 10px !important;
  color: #d20537 !important;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  line-height: 18px !important;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 0px;
  margin-bottom: 9px;
}
pre {
  background-color: #eff0f1;;
  margin-bottom: 1em;
  padding: 5px;
  border-radius: .25rem;
  font-size: 13px !important;
  color: #d20537 !important;
}

 pre code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #d20537;
  background-color: #f7f7f9;
  border-radius: .25rem;
}
.nav-arrow {
  font-size: 19px;
  color: white !important;
}



.multiple-authors-list ul {
  list-style-type: none;
  padding-left: 0;
  li {
    margin-bottom: 10px;
  }
}

.file-download {
  font-family: "Univers LT W01 55 Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}
//Glossary
//--------
.glossar-list {
  font-family: "Univers LT W01 55 Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .9rem;
  color: black;
  line-height: 24px;
  p {
    font-weight: bold;
    margin-left: -15px;
    margin-bottom: 5px;
    }
  }

.abc {
  text-transform: uppercase;
}
.list-numbers {
  list-style: decimal;
}
.colored-table {
  background-color: rgba(0,0,0,0.05);
}
.bold-text {
  font-weight: bold;
}
.normal-text-table {
  font-weight: normal !important;
}
.text-center {
  text-align: center;
}

// Markdown Classes
//-----------------
.markdown-content {
  h1 {
    font-family: $font-family-univers-sans-serif-bold;
    color: $uni-anthracite;
    text-transform: uppercase;
    font-size: $font-size-normal;
  }
  h2 {
    font-family: $font-family-univers-sans-serif-light;
    color: $uni-anthracite;
    text-transform: uppercase;
    font-size: $font-size-normal;
  }
  h3 {
    font-family: $font-family-univers-sans-serif-bold;
    color: $uni-anthracite;
    text-transform: none;
    font-size: $font-size-normal;
  }
  p {
    margin-bottom: 0px;
  }
  .lead {
    font-family: $font-family-swift-serif-bold;
    font-size: $font-size-normal;
    color: $uni-anthracite;
    padding-top: 1.06rem;
    line-height: 28px;
    margin-bottom: $content-spacer;
  }
  .footnote-title {
    font-family: $font-family-univers-sans-serif-bold;
    font-size: $font-size-small;
    color: $uni-anthracite;
    text-transform: uppercase;
    padding-top: 47px;
    margin-bottom: 3px;
  }
  .footnote {
    font-family: $font-family-univers-sans-serif-roman;
    font-size: $font-size-small;
    color: black;
    line-height: 24px;
    p {
      font-family: $font-family-univers-sans-serif-roman;
      font-size: $font-size-small;
      color: black;
      line-height: 24px;
    }
  }
  .image-author {
    border-radius: 50px;
  }

  .nav-link {
    display: inline !important;
    padding: 0px;
  }

  img {
    max-width: 100%;
    margin-top: 0.78rem;
    margin-bottom: 1.06rem;
    @include media-breakpoint-up(sm) {
      margin-top: 2.55rem;
      margin-bottom: 1.05rem;
    }
  }

  figure {
    max-width: 100%;
    margin-top: 0.78rem;
    margin-bottom: 1.06rem;
    @include media-breakpoint-up(sm) {
      margin-bottom: 1.05rem;
    }
  }

  figure img {
    padding-top: 0px;
    margin-bottom: 0px;
  }

  figcaption {
    padding-top: 1.05rem;
  }

  figcaption p {
    padding-top: 0px;
    margin-bottom: 0px;
    font-family: $font-family-univers-sans-serif-roman;
    font-size: $font-size-small;
    color: black;
    line-height: 20px;
  }

  .thumb-4 {
    max-width: 100%;
    margin-bottom: 0px;
    img {
      display: block;
      margin: auto;
      margin-bottom: 1.05rem;
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .thumb-caption {
    padding-top: 0px;
    margin-bottom: 0px;
    font-family: $font-family-univers-sans-serif-roman !important;
    font-size: $font-size-small !important;
    color: black;
    line-height: 20px;
  }

  .thumb-6 {
    max-width: 100%;
    margin-bottom: 0px;
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }

  .portrait {
    background-color: $light-grey;
    padding-top: 0px;
    margin-bottom: 17px;
    margin-top: $content-spacer;
    img {
      display: block;
      margin: auto;
    }
  }

  .oembed {
    @extend .embed-responsive;
    @extend .embed-responsive-16by9;
    iframe {
      @extend .embed-responsive-item;
    }
  }
}
.row.no-gutters  {
  margin-right: -15px;
  margin-left: -15px;
}

.help-img {
  width: 100%;
}

//icons
//-----

//uni zeugs
//---------
.uni-main-wrapper {
  background-color: $uni-mint;
}

.uni-logo {
  padding: 2rem 1rem;
  background-color: $uni-mint;

  img {
    width: 40%;
    max-width: 200px;
    min-width: 150px;
  }
}
/* title bar wrapper */
.title-bar-wrapper {
  background-color: lightgray;
  padding: 0px !important;
}
/* author image */
p.author {
  text-align: center;
  img {
    border-radius: 50%;
  }
}

.bg-light-grey {
  background-color: $light-grey;
}

/* card-image-top aspect ratio */
.card-img-top {
  width: 100%;
}

/* sidebar navigation */
$sidebar_width: 600px;

#sidebar-nav {
  position: absolute;
  left: 0px;
  top: auto;
  width: $sidebar_width;
  min-height: 100vh;
  margin-left: - $sidebar_width + 10px;
  transition: margin-left 0.2s 0s;
  background-color: $uni-anthracite;
  z-index: 100000;
  overflow-y: auto;

  a {
    color: white;
  }

  a.active {
    background-color: $active-link-grey;
  }

  .sidebar-toggle {
    position: relative;
    background-color: $uni-anthracite;
    font-family: $font-family-univers-sans-serif-light;
    font-size: $font-size-normal;
    color: $grey;
  }

  @include media-breakpoint-up("md") {
    width: $sidebar_width;
    margin-left: - $sidebar_width + 40px;
  }

  &.open {
    margin-left: 0px;
    width: 100vw;
    transition: margin-left 0.2s 0s;

    @include media-breakpoint-up("md") {
      width: $sidebar_width;
    }
    .menu-numbers {
      display: none;
    }

    .nav-open-button {
      display: none;
    }
  }

  &.fixed-top-sidebar {
    position: fixed !important;
    top: 0px;
    max-height: 100vh;
  }
}

.citation-indented {
  padding-left: 1.5rem !important;
  text-indent: -25px;
}

.footnote-title {
  font-family: $font-family-univers-sans-serif-bold;
  font-size: $font-size-small;
  color: $uni-anthracite;
  text-transform: uppercase;
  padding-top: 47px;
  margin-bottom: 3px;
}
.footnote p {
  font-family: $font-family-univers-sans-serif-roman;
  font-size: $font-size-small;
  color: black;
  line-height: 24px;
}

.referenz-link:first-child {
  padding-top: 4px;
}

.referenz-link:last-child {
  margin-bottom: 19px;
}

.referenz-bg {
  background-color: #c4ccd3;
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  margin-top: 2px;
}

.referenz-p-titel {
  font-size: 10px;
  font-weight: bold;
  color: #444444;
  font-style: normal;
  line-height: normal;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 9px;
}

.referenz-link {
  font-size: 10px !important;
  font-weight: bold !important;
  color: #d20537 !important;
  font-style: normal;
  line-height: 18px !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding-top: 0px !important;
  margin-bottom: 9px !important;
}

a.referenz {
  font-size: 10px;
  color: #000000;
}

.referenz {
  font-size: 10px !important;
  color: #000000;
}

/* open button */
#sidebar-toggle {
  background-color: $uni-anthracite;
  color: white;
  &:hover {
    color: white;
  }

  &.open {
    display:none;
  }

  &.fixed-top-sidebar {
    position: fixed !important;
    top: 0px;
    max-height: 100vh;
  }

  z-index: 1;

  @include media-breakpoint-up("md") {
    display: none;
  }
}

@font-face {
  font-family: 'nmc';
  src: url('../font/nmc.eot?4030032');
  src: url('../font/nmc.eot?4030032#iefix') format('embedded-opentype'),
       url('../font/nmc.woff2?4030032') format('woff2'),
       url('../font/nmc.woff?4030032') format('woff'),
       url('../font/nmc.ttf?4030032') format('truetype'),
       url('../font/nmc.svg?4030032#nmc') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="nmc-icon-"]:before, [class*=" nmc-icon-"]:before {
  font-family: "nmc";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  //margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  @include media-breakpoint-up(md) {
    padding-left: 6px;
    margin-left: .2em;
  }
}

@font-face {
  font-family: 'icon-left';
  src: url('../font/icon-left.eot?69522096');
  src: url('../font/icon-left.eot?69522096#iefix') format('embedded-opentype'),
       url('../font/icon-left.woff2?69522096') format('woff2'),
       url('../font/icon-left.woff?69522096') format('woff'),
       url('../font/icon-left.ttf?69522096') format('truetype'),
       url('../font/icon-left.svg?69522096#icon-left') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon-left";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

}

.icon-nmc-arrow-left:before { content: '\e802'; } /* '' */
.nmc-icon-arrow:before { content: '\e800'; } /* '' */
.nmc-icon-close:before { content: '\e801'; } /* '' */
.nmc-icon-down:before { content: '\e802'; } /* '' */
.nmc-icon-globe:before { content: '\e803'; } /* '' */
.nmc-icon-next:before { content: '\e804'; } /* '' */
.nmc-icon-previous:before { content: '\e805'; } /* '' */