{% extends "base.html" %}


<div class="container-fluid" style="background:url('{{ MEDIA_URL }}{{object.title_image}}') no-repeat top center; background-size: 100vw;">
  <div class="row no-gutters">
    <div class="col-12">
      <div>
        <p>GAbu</p>
      </div>
    </div>
  </div>
</div>