{% extends "lms_tales_base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{STATIC_URL}}lms_tales/css/lms_tales.css">
{% endblock %}

{% block content %}
<div class="container-fluid " style="background:url('{{ MEDIA_URL }}home-back.jpg'); padding-bottom: 10vh; background-repeat: no-repeat; background-position: top center; background-size: 100vw;">
  <div class="row no-gutters">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-12 col-md-10 offset-md-1 pt-3">
            <div class="bg-white px-4 py-2" style="margin-top: 20vh !important;">
              <p>Mit der Dienstleistung «Tales» können Lerninhalte, die
                Präsenzveranstaltungen ergänzen, online öffentlich zugänglich gemacht
                werden. «Tales» wurde vom New Media Center der Universität Basel
                entwickelt. Das NMC-Team begleitet die Erstellung der Elemente,
                unterstützt die Redaktion, realisiert Filme und Bildsprache und
                implementiert die Lerninhalte gemäss den Wünschen der Dozierenden.
              </p>
              <p>
                Angehörige der Universität Basel, die sich dafür interessieren, die
                Dienstleistung «Tales» für ihre Lehre zu nutzen, können sich gerne mit dem
                New Media Center <a href="mailto:services-nmc@unibas.ch">(services-nmc@unibas.ch)</a> in Verbindung setzen. Wir freuen uns
                auf Ihre Kontaktnahme.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}