<p class="course-title d-flex">
<a href="{{ object.course.get_absolute_url }}">
  {{ object.get_course.title }} &nbsp;
  <span class="course-title-subtitle d-none d-sm-flex"> {{ object.course.subtitle }}</span>
</a>
</p>