{% extends "lms_opos_base.html" %}
{% load i18n rules %}
{% block javascript %}
  {{ block.super }}
  {% if user.is_authenticated %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
  <script src="{{STATIC_URL}}lms_opos/js/lms_opos_chapter_home.js"></script>
  {% endif %}
  <script>
    var urlpath = "{% url 'opos:step_update_order' %}";
    var object_pk = '{{ object.pk }}';
  </script>
{% endblock %}

{% block content %}
{% has_perm 'lms_opos.change_oposstep' user object.course as can_change %}
{% has_perm 'lms_opos.delete_oposstep' user object.course as can_delete %}
{% has_perm 'lms_opos.add_oposstep' user object.course as can_add %}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 pt-3">
      <h1 class="chapter-heading">{{ object.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-md-2">
      <h5>{% trans 'Steps' %}</h5>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>{% trans 'Titel' %}</th>
              <th>{% trans 'Aktion' %}</th>
            </tr>
          </thead>
          <tbody id="step-list">
          {% for step in object.steps.all %}
          <tr data-id="{{ step.pk }}" class="step-list-item">
            <td>
              <i class="fa fa-bars handle" aria-hidden="true"></i>
            </td>
            <td>
              <a href="{% url 'opos:step' object.course.slug object.course.pk object.slug object.pk step.slug step.pk %}">
              {{ step.title }}
              </a>
            </td>
            <td>
              {% if user.is_authenticated %}
              {% if can_change %}
              <a href="{% url 'opos:step_edit' step.pk %}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                {% trans 'Bearbeiten' %}
              </a>
              {% endif %}
              {% if can_delete %}
              <a href="{% url 'opos:step_delete' step.pk %}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                {% trans 'Löschen' %}
              </a>
              {% endif %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if user.is_authenticated %}
      {% if can_add %}
      <a class="btn btn-outline-primary" href="{% url 'opos:step_add' object.pk %}">{% trans 'Neuen Step hinzufügen' %}</a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}