{% extends "lms_opos_base.html" %}
{% load staticfiles i18n utils %}
{% load rules %}

{% block javascript %}
  {{ block.super }}
  {% if user.is_authenticated %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
  {% endif %}
  <script>
    var urlpath = "{% url 'opos:chapter_update_order' %}";
    var object_pk = '{{ object.pk }}';
</script>
{% endblock %}

{% block sidebar-nav %}
{% endblock %}

{% block sidebar-arrow %}
{% endblock %}

{% block content %}

<div class="container-fluid bg-map">
  <h1 class="course-heading text-center pr-2">OPOS – Open Planet of Sound</h1>
  <div class="row no-gutters">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="container">
        <div class="row markdown-content no-gutters">
          <div class="row bg-white opos-start-content">
            <div class="col-12 col-lg-8">
              <p class="opos-start-lead mb-0">Die multimediale
                Publikationsplattform OPOS – Open Planet of Sound öffnet ein
                Fenster in die Welt der Musik. OPOS dokumentiert, beschreibt
                und erforscht klangliche, kulturelle und soziale Aspekte von
                Musik und Tanz in einer stetig wachsenden Modulsammlung. OPOS
                macht weitgehend unbekannte musikethnologische Erkenntnisse und
                die damit verknüpften kulturellen Zusammenhänge in Form von
                Klängen, Bildern, Texten und Animationen öffentlich zugänglich.
              </p>
              <p class="mb-0">Die Module sind so aufgebaut, dass Musik- und
                Kulturinteressierte die multimedial präsentierten Inhalte
                zuerst eingehend studieren können. Im zweiten Teil bieten
                zahlreiche interaktive Übungen die Möglichkeit, das erlernte
                Wissen zu festigen.
              </p>
              <p class="mb-0">Dank seiner modularen Struktur kann OPOS flexibel
                in diversen Lehr- und Lernszenarien und Bildungskontexten
                verwendet werden. Die Teile können einzeln oder zusammen sowohl
                für das Selbststudium und die Gruppenarbeit als auch in einer
                Vorlesung eingesetzt werden, um diese anschaulicher und
                lebendiger zu gestalten.
              </p>
                <p class="mb-0">Möchten Sie dazu beitragen, dass OPOS weiter
                  wächst?
                  <a href="mailto: services-nmc@unibas.ch">Schreiben Sie uns
                    eine E-Mail und informieren Sie sich über die
                    Modulpatenschaften
                  </a>
                </p>
                <hr>
                <p class="footnote"><strong>Folgende Personen haben an der Entwicklung des Kurses mitgewirkt:</strong>
                  <br>
                  Balthasar Streif, Bernhard Gardi, Claude Ferrier, Filomena
                  Mazumdar, Hans-Jürg Sommer, Jürg Wassmann, Frauen der Gruppe
                  Kiighwyaq, Marlyse Walther, Martin Jenni, Nunana, Peter Fürst,
                  Peter Lindenmann, Rajesh Pandey, Richard Kunz,
                  Shahana Banerjee, Sivugun, Stephen Aningayu, Susanne Böhm,
                  Tagrina, Tom Aebi, Udhai Mazumdar, Urs Ramseyer, Verena Keck,
                  Walter Schicho, Yusef Kouate</p>
                <h1 class="author-title pt-5">Der Autor</h1>
                <div class="row">
                  <div class="col-4 author-name">
                    <img src="{{STATIC_URL}}/images/raymond_ammann.jpg">
                    <p>Dr. Raymond Ammann<br>
                      <a href="mailto:raymond.ammann@bluewin.ch">raymond.ammann@bluewin.ch</a>
                    </p>
                  </div>
                </div>
            </div>
            <!-- Startseite grosse Ansicht Module-->
            <div class="d-none d-lg-block col-lg-4 py-4">
              <div class="module-list pb-4">
                <h1 class="module-title">Module</h1>
                <ul style="list-style-type: none;">
                  {% for course in oposcourse_list %}
                  <li class="pt-2 mb-2">
                    <span class="module-number align-self-start">{{ forloop.counter }}</span>
                    <a href="{% url 'opos:course' slug=course.slug pk=course.pk %}">
                    {{ course.title }}
                    </a>
                  </li>
                  {% if user.is_authenticated %}
                  {% has_perm 'lms_opos.change_oposcourse' user course as can_change %}
                  {% has_perm 'lms_opos.delete_oposcourse' user course as can_delete %}
                  {% if can_change %}
                  <a class="btn btn-outline-primary" href="{% url 'opos:course_edit' course.pk %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  {% endif %}
                  {% if can_delete %}
                  <a class="btn btn-outline-danger" href="{% url 'opos:course_delete' course.pk %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- Startseite mittlere Ansicht Module -->
            <div class="d-lg-none d-none d-sm-block col-12 py-4">
              <div class="module-list pb-4">
                <h1 class="module-title">Module</h1>
                <div class="row d-flex flex-row">
                  <div class="col-6 module-double-list">
                    <ul style="list-style-type: none;">
                      {% for course in oposcourse_list %}
                      <li class="pt-2 mb-2">
                        {% if forloop.counter < 8 %}
                        <span class="module-number align-self-start">{{ forloop.counter }}</span>
                        <a href="{% url 'opos:course' slug=course.slug pk=course.pk %}">
                        {{ course.title }}
                        </a>
                      </li>
                      {% if user.is_authenticated %}
                      {% has_perm 'lms_opos.change_oposcourse' user course as can_change %}
                      {% has_perm 'lms_opos.delete_oposcourse' user course as can_delete %}
                      {% if can_change %}
                      <a class="btn btn-outline-primary" href="{% url 'opos:course_edit' course.pk %}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      {% endif %}
                      {% if can_delete %}
                      <a class="btn btn-outline-danger" href="{% url 'opos:course_delete' course.pk %}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                      {% endif %}
                      {% endif %}
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col-6 module-double-list">
                    <ul>
                      {% for course in oposcourse_list %}

                        {% if forloop.counter > 7 %}
                        <li class="pt-2 mb-2">
                        <span class="module-number align-self-start">{{ forloop.counter }}</span>
                        <a href="{% url 'opos:course' slug=course.slug pk=course.pk %}">
                        {{ course.title }}
                        </a>
                      </li>
                      {% if user.is_authenticated %}
                      {% has_perm 'lms_opos.change_oposcourse' user course as can_change %}
                      {% has_perm 'lms_opos.delete_oposcourse' user course as can_delete %}
                      {% if can_change %}
                      <a class="btn btn-outline-primary" href="{% url 'opos:course_edit' course.pk %}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      {% endif %}
                      {% if can_delete %}
                      <a class="btn btn-outline-danger" href="{% url 'opos:course_delete' course.pk %}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                      {% endif %}
                      {% endif %}
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Startseite kleine Ansicht Module -->
            <div class="d-sm-none">
              <div class="col-lg-4 py-4">
                  <h1 class="module-title">Module</h1>
                  <ul style="list-style-type: none; padding-left:0;">
                    {% for course in oposcourse_list %}
                    <li class="pt-2 mb-2">
                      <span class="module-number align-self-start">{{ forloop.counter }}</span>
                      <a href="{% url 'opos:course' slug=course.slug pk=course.pk %}">
                      {{ course.title }}
                      </a>
                    </li>
                    {% if user.is_authenticated %}
                    {% has_perm 'lms_opos.change_oposcourse' user course as can_change %}
                    {% has_perm 'lms_opos.delete_oposcourse' user course as can_delete %}
                    {% if can_change %}
                    <a class="btn btn-outline-primary" href="{% url 'opos:course_edit' course.pk %}">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    {% if can_delete %}
                    <a class="btn btn-outline-danger" href="{% url 'opos:course_delete' course.pk %}">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {% with course=oposcourse_list.first %}
            {% if course %}
            <div class="right-link pull-right bg-white-pn-link px-2 my-2 pb-4">
              <a href="{% url 'opos:course' slug=course.slug pk=course.pk %}" class="float-right arrow-link d-flex">
                <div class="d-flex flex-center">
                {{course}}<br>
                  <span class="step-type">Modul 1</span>
                </div>
                <div class="arrow d-flex pl-4">
                  <i class="nmc-icon-next"></i>
                </div>
              </a>
            </div>
            {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}