{% extends "lms_opos_base.html" %}
{% load staticfiles i18n utils %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% block header%}
{% endblock header%}

{% block title %}
{% endblock title %}

{% block sidebar-nav %}
{% endblock sidebar-nav %}

{% block title-bar %}
{% endblock title-bar %}


{% block content %}
<div class="glossar-abc bold-text d-flex">
  <div class="glossar-index">
    <a name="glossar-abc" class="pt-4"></a>
    {% for letter, value in oposglossaryitem_list.items %}
    {% if letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"%}
      {% if value %}
        <a href="#{{ letter }}" class="abc">{{letter}}</a>
      {% else %}
        <a class="abc" style="color: black !important;">{{letter}}</a>
      {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
  <div class="ml-auto">
  <a class="btn btn-outline-primary" href="{% url 'opos:glossaryItem_add' %}">{% trans 'Neues Glossar Item hinzufügen' %}</a>
  {% endif %}
  </div>
</div>
{% for letter, value in oposglossaryitem_list.items %}
  {% if value %}
    <a id="{{ letter }}"></a>
  {% endif %}
{% for item in value %}
  <hr>
  <h1 class="footnote-title"><a name={{ item.title | slugify }}></a>
    <a href="#glossar-abc">
      <i class="fa fa-arrow-up" aria-hidden="true">
      </i>
    </a>
    <span>{{ item.title }}</span>
    {% if user.is_authenticated %}
    <a href="{% url 'opos:glossaryItem_edit' item.pk %}" class="btn btn-sm btn-outline-danger">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    {% if user.is_authenticated %}
    <a href="{% url 'opos:glossaryItem_delete' item.pk %}" class="btn btn-sm btn-outline-danger">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
    {% endif %}
    {% endif %}
  </h1>
  <div class="footnote">
    {{ item.content | markdownify | safe }}
    {% if item.links %}
    <p>
    {% for link in item.links.all %}
      <i class="nmc-icon-arrow nav-arrow pr-2" aria-hidden="true"></i>
      <a href="#{{ link.title | slugify }}">{{ link.title }}</a>
    {% endfor %}
    </p>
    {% endif %}
    {% if item.images %}
    <p class="portrait">
      <img src="{{MEDIA_URL}}{{item.images}}">
    </p>
    {% endif %}
    {% if item.references %}
    <div class="referenz-bg">
      <p class="referenz-p-titel">
         Referenzen:
      </p>

      {{ item.references | markdownify | safe }}
    </div>
  {% endif %}
  </div>
{% endfor %}
{% endfor %}
{% endblock content %}

{% block footer %}
{% endblock footer %}