{% extends "lms_opos_base.html" %}
{% load staticfiles i18n utils rules %}

{% block javascript %}
  {{ block.super }}
  {% if user.is_authenticated %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
  <script src="{{STATIC_URL}}lms_opos/js/lms_opos_chapter_home.js"></script>
  {% endif %}
  <script>
    var urlpath = "{% url 'opos:step_update_order' %}";
    var object_pk = '{{ object.pk }}';
  </script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <style>
    {% if object.is_first_step_in_chapter %}
    .image-background {
      background:url('{{ MEDIA_URL }}{{object.title_image}}') no-repeat top center; background-size: 100vw;
    }
    {% else %}
    @media (min-width: 544px) {
      .image-background:before {
        content: "";
        position: absolute;

        z-index: -1;

        display: block;
        background:url('{{ MEDIA_URL }}{{object.get_first_step_in_chapter.title_image}}') no-repeat top center; background-size: 100vw;
        width: 100%;
        height: 100%;

        filter: grayscale(100%) opacity(65%);
      }
    }
    {% endif %}
  </style>
{% endblock css%}

{% block content %}
{% has_perm 'lms_opos.change_oposstep' user object.chapter.course as can_change %}
<div class="container-fluid image-background">
  <div class="row no-gutters">
    <div class="col-12">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 col-md-10 offset-md-1 pt-3">
            <div class="bg-white mb-2 px-4 pb-4 step-title">
              <div class="row">
                <div class="col-6">
                  <h1 class="step-number mt-3">{{object.get_step_number}}</h1>
                </div>
              </div>
              <h1 class="step-heading">{{ object.title }}
                {% if user.is_authenticated and can_change %}
                <a href="{% url 'opos:step_edit' object.pk %}">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                {% endif %}
              </h1>
              {% if object.subtitle %}
              <h2 class="step-subtitle">{{ object.subtitle }}</h2>
              {% endif %}
            </div>
          </div>
        </div>
        {% if object.content %}
        <div class="row markdown-content no-gutters">
          <div class="col-12 col-md-10 offset-md-1 content">
            <div class="bg-white pb-2 px-4">
              {{ object.content|markdownify|safe }}
              {% endif %}
              {% if object.copyright %}
              <h4 class="footnote-title">Copyright</h4>
                <div class="footnote">
              {{ object.copyright|markdownify|safe }}
                </div>
              {% endif %}
              {% if object.files.all %}
              <p class="footnote-title">Downloads</p>
              {% endif %}
              <p class="file-download">
              {% for file in object.files.all %}
                <a href="{{MEDIA_URL}}{{file.file}}" target="_blank">{{file.title}}</a><br>
              {% endfor %}
            </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container step-navigation d-sm-none">
        <div class="row">
          {% if object.get_previous.get_absolute_url is not empty %}
          <div class="col-12 pt-3">
            <div class="left-link bg-white-pn-link mb-2 ml-2 px-2">
              <a href="{{ object.get_previous.get_absolute_url }}" class="arrow-link d-flex">
                <div class="arrow d-flex pr-4">
                  <i class="nmc-icon-previous"> </i>
                </div>
                <div class="d-flex flex-center">
                {{object.get_previous.title}}<br>
                  <span class="step-type">{{ object.get_previous.type_verbose }}</span>
                </div>
              </a>
            </div>
          </div>
          {% else %}
          <div class="col-12 pt-3">
            <div class="left-link bg-white-pn-link mb-2 ml-2 px-2">
              <a href="{{ object.chapter.course.get_absolute_url }}" class="arrow-link d-flex">
                <div class="arrow d-flex pr-4">
                  <i class="nmc-icon-previous"> </i>
                </div>
                <div class="d-flex flex-center">
                {% trans "Zurück" %}
                </div>
              </a>
            </div>
          </div>
          {% endif %}
          {% if object.get_next.get_absolute_url is not empty %}
          <div class="col-12">
            <div class="right-link pull-right bg-white-pn-link mr-2 mb-2 px-2">
              <a href="{{ object.get_next.get_absolute_url }}" class="float-right arrow-link d-flex">
                <div class="d-flex flex-center">
                {{object.get_next.title}}<br>
                  <span class="step-type">{{ object.get_next.type_verbose }}</span>
                </div>
                <div class="arrow d-flex pl-4">
                  <i class="nmc-icon-next"></i>
                </div>
              </a>
            </div>
          </div>
          {% else %}
          <div class="col-12">
            <div class="right-link pull-right bg-white-pn-link mr-2 mb-2 px-2">
              <a href="{{ object.chapter.course.get_absolute_url }}" class="float-right arrow-link d-flex">
                <div class="d-flex flex-center">
                {% trans "Zurück zum Anfang" %}
                </div>
                <div class="arrow d-flex pl-4">
                   <i class="nmc-icon-next"></i>
                </div>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="container step-navigation d-none d-sm-block">
        <div class="row">
          {% if object.get_previous.get_absolute_url is not empty %}
          <div class="col-6 mt-3 bg-white-pn-link">
            <div class="left-link mb-2 px-2">
              <a href="{{ object.get_previous.get_absolute_url }}" class="arrow-link d-flex">
                <div class="arrow d-flex mr-4">
                  <i class="nmc-icon-previous"> </i>
                </div>
                <div class="d-flex flex-center">
                {{object.get_previous.title}}<br>
                  <span class="step-type">{{ object.get_previous.type_verbose }}</span>
                </div>
              </a>
            </div>
          </div>
          {% else %}
          <div class="col-6 mt-3 bg-white-pn-link">
            <div class="left-link mb-2 px-2">
              <a href="{{ object.chapter.course.get_absolute_url }}" class="arrow-link d-flex">
                <div class="arrow d-flex mr-4">
                  <i class="nmc-icon-previous"> </i>
                </div>
                <div class="d-flex flex-center">
                {% trans "Zurück" %}
                </div>
              </a>
            </div>
          </div>
          {% endif %}
          {% if object.get_next.get_absolute_url is not empty %}
          <div class="col-6 mt-3 bg-white-pn-link">
            <div class="right-link pull-right ml-4 mb-2 px-2">
              <a href="{{ object.get_next.get_absolute_url }}" class="float-right arrow-link d-flex">
                <div class="d-flex flex-center">
                {{object.get_next.title}}<br>
                  <span class="step-type">{{ object.get_next.type_verbose }}</span>
                </div>
                <div class="arrow d-flex ml-4">
                  <i class="nmc-icon-next"></i>
                </div>
              </a>
            </div>
          </div>
          {% else %}
          <div class="col-6 mt-3 bg-white-pn-link">
            <div class="right-link pull-right ml-4 mb-2 px-2">
              <a href="{{ object.chapter.course.get_absolute_url }}" class="float-right arrow-link d-flex">
                <div class="d-flex flex-center">
                {% trans "Zurück zum Anfang" %}
                </div>
                <div class="arrow d-flex ml-4">
                   <i class="nmc-icon-next"></i>
                </div>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}