{% load rules %}
<p class="course-title d-flex">{{ object.title }} &nbsp;
  <span class="course-title-subtitle d-none d-sm-flex">{{ object.subtitle }}</span>
  {% if user.is_authenticated %}
  {% has_perm 'lms_opos.change_oposcourse' user object as can_change_course %}
  {% if can_change_course %}
    <a href="{% url 'opos:course_edit' object.pk %}">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
  {% endif %}
  {% endif%}
</p>