{% load staticfiles i18n utility_tags %}

{% blocktrans %}

<h1 class="footnote-title">Info</h1>
<div class="footnote">
  <p>
  Dieser Kurs wurde mit der Dienstleistung «Tales» erstellt. Sie unterstützt die
  Universität Basel dabei, gewisse Lerninhalte öffentlich zu machen, die in der
  Lehre zur Unterstützung von Präsenzveranstaltungen benutzt werden. «Tales» wurde
  vom New Media Center der Universität Basel entwickelt. Unser Team begleitet die
  Erstellung der Elemente, realisiert Filme und Bildsprache und implementiert die
  Lerninhalte gemäss den Wünschen der Dozierenden.
  </p>
  <p>
  Da es sich um Kurse im Hochschulkontext handelt, kann es vorkommen, dass
  gewisse Links in bibliographischen Angaben für Benutzer und Benutzerinnen
  ausserhalb des Universitätsnetzes nicht einen Vollzugang zum erwähnten Artikel
  ermöglichen. Dies erklärt sich durch die Abonnementsbedingungen die für diese
  Quellen bestehen. Angehörige der Universität Basel können sich über VPN in das
  Universitätsnetz einwählen, um den Artikel ganz zu lesen.
  </p>
  <p>
  Angehörige der Universität Basel, die sich dafür interessieren,
  die Dienstleistung «Tales» für ihre Lehre zu nutzen, können sich gerne mit
  dem New Media Center (<a href="mailto:services-nmc@unibas.ch">services-nmc@unibas.ch</a>) in Verbindung setzen.
  Wir freuen uns auf Ihre Kontaktnahme.
  </p>
</div>
{% endblocktrans %}