{% extends "base.html" %}
{% load staticfiles i18n utils %}

{% block css %}
{{ block.super }}
<style>
.markdown-index {
  list-style-type: tibetan;
}
</style>
{% endblock css %}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% block header%}
{% endblock header%}

{% block title %}
{% endblock title %}

{% block sidebar-nav %}
{% endblock sidebar-nav %}

{% block title-bar %}
{% endblock title-bar %}

{% block content %}

<h1>Markdown</h1>
<h3 class="pt-0">Table of Contents</h3>
  <div class="container pl-0 pr-0">
    <div class="row">
      <div class="col-4 pl-1 pr-0">
        <div class="card mx-3">
          <a href="#text">
          <div class="card-header pt-0 pb-0" id="headingOne">
            <h5 class="mb-0 pt-0">
              <button class="btn btn-light btn-block">
                TEXT FORMATTING
              </button>
            </h5>
          </div>
        </a>
          <div class="card-body">
            <ul class="markdown-index pl-3">
              <li>
                <a href="#headers">Headers</a>
              </li>
              <li>
                <a href="#lead">Lead</a>
              </li>
              <li>
                <a href="#emphasis">Emphasis</a>
              </li>
              <li>
                <a href="#lists">Lists</a>
              </li>
              <li>
                <a href="#image-captions">Image Captions</a>
              </li>
              <li>
                <a href="#footnotes">Footnotes</a>
              </li>
              <li>
                <a href="#blockquotes">Blockquotes</a>
              </li>
              <li>
                <a href="#indented-citation">indented-citation</a>
              </li>
              <li>
                <a href="#code">Code</a>
              </li>
              <li>
                <a href="#links">Links</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4 pl-1 pr-0">
        <div class="card mx-3">
          <a href="#image">
          <div class="card-header pt-0 pb-0" id="headingTwo">
            <h5 class="mb-0 pt-0">
              <button class="btn btn-light btn-block">
                IMAGE FORMATS
              </button>
            </h5>
          </div>
        </a>
          <div class="card-body">
            <ul class="markdown-index pl-3">
              <li>
                <a href="#thumbnail-4">4 row thumbnail</a>
              </li>
              <li>
                <a href="#thumbnail-6">6 row thumbnail</a>
              </li>
              <li>
                <a href="#portrait">Portrait</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4 pl-1 pr-1">
        <div class="card mx-3">
          <a href="#embed">
          <div class="card-header pt-0 pb-0" id="headingThree">
            <h5 class="mb-0 pt-0">
              <button class="btn btn-light btn-block">
                EMBED MEDIA
              </button>
            </h5>
          </div>
        </a>
          <div class="card-body">
            <ul class="markdown-index pl-3">
              <li>
                <a href="#video">Youtube, Vimeo, Soundcloud</a>
              </li>
              <li>
                <a href="#hidden">Using different iframes for different screen sizes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="alert alert-info pb-0 mt-4" role="alert" style="margin-bottom: 12px;">
  <ul>
    <li>Each Formatting-Type has to end with a blank line</li>
    <li>You can insert an additional blank line by adding &lt;br&gt;</li>
    <li>You also can insert a line break by typing 2 times the space-bar at the end of the line</li>
  </ul>
</div>

<div class="container markdown-content" >
<h1 id="text">TEXT FORMATTING</h1>
<h3 id="headers">Headers</h3>
<p>We use three header types. If a fourth header is needed, we use the <span class="lead"> **text bold** or {.lead} </span> format. Do not use too many header types in one step, use the text bold style instead.
</p>

<h1># This is a &lt;h1&gt; tag</h1>
<h2>## This is a &lt;h2&gt; tag</h2>
<h3>### This is a &lt;h3&gt; tag</h3>

<br>

<h3 id="lead">Lead</h3>
<span class="lead">Dies ist ein Leadtext.</span><br>
{.lead}
<br>
<br>

<h3 id="emphasis">Emphasis</h3>
<em>*This text will be italic*</em><br>
<em>_This text will be italic_</em><br>
<strong>**This text will be bold**</strong><br>
<strong>_This will also be bold_</strong><br>
<strong>_You <em>*can*</em> combine them_</strong>
<br>
<br>

<h3 id="lists">List: Bullet points</h3>
looks like: <br>
<ul>
  <li>Item 1</li>
  <li>Item 2</li>
  <ul>
    <li>Item 2a</li>
    <li>Item 2b</li>
  </ul>
</ul>

<div class="footnote-title pt-0"><em>First hierarchy:</em></div>
<p>
*(blank space)Item 1(break) <br>
*(blank space)Item 2 <br><br>
</p>
<div class="footnote-title pt-0"><em>Second hierarchy:</em></div>
<p>
(tab)*(blank space)Item 1a<br>
(tab)*(blank space)Item 1b<br>
</p>

<h3>List: Numbers</h3>
looks like:
<br>
<ol>
  <li>1. Item 1</li>
  <li>2. Item 2</li>
  <ol>
    <li>1. Item 1a</li>
    <li>2. Item 2b</li>
  </ol>
</ol>
<div class="footnote-title pt-0"><em>First hierarchy:</em></div>
<p>
1.(blank space)Item 1(break)<br>
1.(blank space)Item 2<br><br>
Always write 1. in each line! Markdown will turn the 1. into an ordered list.
</p>
<div class="footnote-title pt-0"><em>Second hierarchy:</em></div>
<p>
(tab)1.(blank space)Item 1a<br>
(tab)1.(blank space)Item 1b<br>
</p>

<h3 id="image-captions">Image captions</h3>
<span class="thumb-caption">Dies ist eine Bildlegende</span><br>
{.thumb-caption}
<br>
<br>
<h3 id="footnotes">Footnote title</h3>
<span class="footnote-title">DIES IST EIN FUSSNOTENTITEL</span><br>
{.footnote-title}
<br>
<br>
<h3>Footnote</h3>
<span class="footnote">Dies ist ein Fussnotentext</span><br>
{.footnote}
<br>
<br>
<h3 id="blockquotes">Blockquotes</h3>
looks like: <br><br>
As Oscar Wilde said:
<blockquote>I am so clever that sometimes I don‘t understand a single word of what I am saying.</blockquote>
As Oscar Wilde said:<br>
&gt; I am so clever that sometimes I don‘t understand a single word of what I am saying.
<br>
<br>

<h3 id="indented-citation">indented-citation</h3>
<span class="citation-indented">Dies sind Literaturangaben: Mazan MR, Ho man AM.
  2001. E ects of aerosolized albuterol on physiologic responses to exercise
  in standardbreds.
</span>
<br>
{.citation-indented}
<br>
<br>

<h3 id="code">Inline code</h3>
looks like: <br>
<code>Author, A. A. (year). Chapter title.</code>
<br>
` Author, A. A. (year). Chapter title.`
<br>
<br>

<h3>Code Block</h3>
looks like: <br>
<pre><code>library(prophet)<br>
library(lubridate)<br>
ds= c('10/31/2015','11/30/2015','12/31/2015','1/31/2016','2/29/2016','3/31/2016'
,'4/30/2016','5/31/2016','6/30/2016','7/31/2016','8/31/2016','9/30/2016',
'10/31/2016','11/30/2016','12/31/2016','1/31/2017','2/28/2017','3/31/2017',
'4/30/2017','5/31/2017','6/30/2017','7/31/2017','8/31/2017','9/30/2017',
'10/31/2017')
y= c(0.671,0.680,0.670,0.675,0.678,0.675,0.677,0.667,0.668,0.680,0.667,0.667,
0.670,0.684,0.679,0.679,0.685,0.680,0.682,0.679,0.679,0.715,0.671,0.645,0.678)
<br>
df= data.frame(ds,y)
</code></pre>
<br>
Der dreifache Backtick (```) muss vor und nach dem Text auf einer eigenen Zeile stehen.
<br>
<br>
```<br>
library(prophet)<br>
library(lubridate)<br>
ds= c('10/31/2015','11/30/2015','12/31/2015','1/31/2016','2/29/2016','3/31/2016'
,'4/30/2016','5/31/2016','6/30/2016','7/31/2016','8/31/2016','9/30/2016',
'10/31/2016','11/30/2016','12/31/2016','1/31/2017','2/28/2017','3/31/2017',
'4/30/2017','5/31/2017','6/30/2017','7/31/2017','8/31/2017','9/30/2017',
'10/31/2017')
y= c(0.671,0.680,0.670,0.675,0.678,0.675,0.677,0.667,0.668,0.680,0.667,0.667,
0.670,0.684,0.679,0.679,0.685,0.680,0.682,0.679,0.679,0.715,0.671,0.645,0.678)
<br>
df= data.frame(ds,y)<br>
```
<br>
<br>
or
<br>
<br>
~~~~<br>
library(prophet)<br>
library(lubridate)<br>
ds= c('10/31/2015','11/30/2015','12/31/2015','1/31/2016','2/29/2016','3/31/2016'
,'4/30/2016','5/31/2016','6/30/2016','7/31/2016','8/31/2016','9/30/2016',
'10/31/2016','11/30/2016','12/31/2016','1/31/2017','2/28/2017','3/31/2017',
'4/30/2017','5/31/2017','6/30/2017','7/31/2017','8/31/2017','9/30/2017',
'10/31/2017')
y= c(0.671,0.680,0.670,0.675,0.678,0.675,0.677,0.667,0.668,0.680,0.667,0.667,
0.670,0.684,0.679,0.679,0.685,0.680,0.682,0.679,0.679,0.715,0.671,0.645,0.678)
<br>
df= data.frame(ds,y)<br>
~~~~
<br>
<br>

<h3 id="links">Links</h3>
[Webseite](http://webseite.com)
<br>
<br>

<h3>Link to glossary</h3>
<p>Use this example to link to a item in the glossary: <br><br>
  <code>&lt;a data-toggle=&quot;modal&quot;
    href=&quot;/SEITENNAME/de/glossar&quot; data-target=&quot;#glossar-modal&quot;
    title=&quot;LINKTITEL&quot;&gt;TITEL&lt;/a&gt;</code>
  <br>
  <br>
  Replace SEITENNAME with the Name of the Project (eg. href=&quot;/tales/de/glossar&quot;, href=&quot;/opos/de/glossar&quot;)<br>
  Replace TITEL with the Name of the Glossary Item<br>
  Replace LINKTITEL with the name of the Name of the Glossary Item in lower case
  without whitespace or any punctuation. Write Umlaute with two letters
  (ä = ae, ü, ue ..)<br>
  e.g.<br>
  TITEL = Feuchte vs. trockene Verbände<br>
  LINKTITEL = feuchtevstrockeneverbaende<br>
  SEITENNAME = Name des Projekts. (Talesprojekte heissen alle tales. Ausgenommen sind zur Zeit Opos und Nahtkurs)
  <br>
  <br>
</p>
<hr>

<h1 id="image">IMAGE FORMATS</h1>
<p>Die Bilder können mit drag and drop direkt ins Markdown-Feld hineingezogen
  werden. Die Bildbeschreibung wird in die eckigen Klammern geschrieben.</p>

<h3 id="thumbnail-4">4 row thumbnail</h3>
<p>Kleinste Bildgrösse: In der Desktopansicht ein Drittel der Screen-Breite.</p>
![Bildbeschreibung](bild.png) <br> {.thumb-4}
<br>
<br>

<h3 id="thumbnail-6">6 row thumbnail</h3>
<p>Mittlere Bildgrösse: In der Desktopansicht die Hälfte der Screen-Breite.</p>
![Bildbeschreibung](Bild.png) <br>
{.thumb-6}
<br>
<br>

<h3 id="portrait">Portrait</h3>
<p>Bildformat für Hochformate: das Bild wird eigemittet. links und rechts
  entsteht ein hellgrauer Rand. Die Grösse des dargestellten Bildes entspricht
  der effektiven Grösse der Datei. Idealerweise sollte die Höhe des Bildes
  nicht 650 Pixel überschreiten.</p>
![Bildbeschreibung](bild.png)<br>
{.portrait}
<br>
<br>
<hr>

<h1 id="embed">EMBED EXTERNAL MEDIA</h1>

<h3 id="video">Youtube, Vimeo, Soundcloud</h3>
![embed](https://vimeo.com/215405296)
<br>
<br>

<h3 id="hidden">Using different iframes for different screen sizes</h3>
<p>Wird gezeigt bei Desktop-Grösse:
  <br>
  <br>
  <code>&lt;div class=&quot;d-none d-sm-block&quot;&gt; --&gt;iframe einfügen
  &lt;/div&gt;</code>
  <br>
  <br>
Wird gezeigt bei Mobile-Grösse:
<br>
<br>
<code>&lt;div class=&quot;d-sm-none&quot;&gt; --&gt;iframe einfügen
&lt;/div&gt;</code>
</p>

<p>
Die h5p-Quizzes mit Hotspots:

<ul>
<li>Find Multiple Hotspots</li>
<li>Find the Hotspot</li>
<li>Image Hotspots</li>
</ul>

werden in der mobilen Ansicht nicht korrekt angezeigt.<br>

Dafür gibt es eine temporäre Lösung:<br>

Für die Desktop Variante (wie gehabt):<br><br>

<pre><code>&lt;div class=&ldquo;d-none d-sm-block&rdquo;&gt;
  --&gt;iframe einf&uuml;gen</code></pre>
<br><br>
Für die Mobile-Grösse:<br><br>

<pre><cod>&lt;div class=&ldquo;d-sm-none&rdquo;&gt; --&gt;iframe einf&uuml;gen &lt;/div&gt;</cod></pre>
<br><br>
UND: Id der iframe src die WERTEANGABEN width=„XY” height=„XY” LÖSCHEN!!!<br>
(inkl. der Bezeichnung width und height!)
</p>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}