{% extends "lms_nahtkurs_base.html" %}
{% load staticfiles i18n utility_tags utils %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{STATIC_URL}}lms_nahtkurs/css/lms_nahtkurs.css">
{% endblock %}

{% block content %}
<div class="container-fluid " style="background:url('{{ MEDIA_URL }}home-back.jpg'); padding-bottom: 10vh; background-repeat: no-repeat; background-position: top center; background-size: 100vw;">
  <div class="row no-gutters">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-12 col-md-10 offset-md-1 pt-3">
            <div class="bg-white px-4" style="margin-top: 20vh !important;">
              <p>NAHTKURS -- {{ object.title }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}