{% load staticfiles i18n utility_tags %}

{% blocktrans %}

<h1 class="footnote-title">Nahtkurs</h1>
<div class="footnote">
  <p>
  Chirurgische Basiskompetenzen, Modul I <br>
  Medizinstudierende erhalten in zeitlich beschränktem Präsenzunterricht eine
  Einführung in die chirurgische Wundversorgung.
  </p>
  <p>
  Zunächst als CD - Rom, dann als Webapplikation, dient der «Nahtkurs» zur
  Vor- und Nachbereitung. Er kombiniert interaktive Übungen mit unterhaltsamen
  Soap-Elementen und unterschiedlichen Perspektiven. Der Nahtkurs kam 2005
  ins Finale des MedidaPrix.
  </p>
  <p>
  Der Kurs wurde 2017 mit der Dienstleistung «Tales» aktualisiert. «Tales»
  unterstützt die Universität Basel dabei, gewisse Lerninhalte öffentlich zu
  machen, die in der Lehre zur Unterstützung von Präsenzveranstaltungen benutzt
  werden. «Tales» wurde vom New Media Center der Universität Basel entwickelt.
  Unser Team begleitet die Erstellung der Elemente, realisiert Filme und
  Bildsprache und implementiert die Lerninhalte gemäss den Wünschen der
  Dozierenden.
  </p>
  <p>
  Da es sich um Kurse im Hochschulkontext handelt, kann es vorkommen, dass
  gewisse Links in bibliographischen Angaben für Benutzer und Benutzerinnen
  ausserhalb des Universitätsnetzes nicht einen Vollzugang zum erwähnten
  Artikel ermöglichen. Dies erklärt sich durch die Abonnementsbedingungen
  die für diese Quellen bestehen. Angehörige der Universität Basel können
  sich über VPN in das Universitätsnetz einwählen, um den Artikel ganz zu
  lesen.
  </p>
  <p>
  Angehörige der Universität Basel, die sich dafür interessieren, die
  Dienstleistung «Tales» für ihre Lehre zu nutzen, können sich gerne mit dem
  New Media Center
  (<a href="mailto:services-nmc@unibas.ch">services-nmc@unibas.ch</a>)
  in Verbindung setzen. <br>
  Wir freuen uns auf Ihre Kontaktnahme.
  </p>
</div>
{% endblocktrans %}